#!/usr/bin/ruby
# vim: set ft=ruby:
# Overmind hook points required for this module
# Not actually a Ruby file, just abusing the syntax highlighting

diffusers.loaders.single_file::FromOriginalControlnetMixin.from_single_file
diffusers.loaders.single_file::FromOriginalVAEMixin.from_single_file
diffusers.loaders.single_file::FromSingleFileMixin.from_single_file
diffusers.models.modeling_utils::ModelMixin.from_pretrained
diffusers.pipelines.pipeline_utils::DiffusionPipeline.from_pretrained
diffusers.schedulers.scheduling_utils::SchedulerMixin.from_pretrained
open_clip::create_model_and_transforms
safetensors.torch::load_file
torch.jit::load
torch::load
torchvision.models.vgg::vgg16
torchvision.models.vgg::vgg19
transformers.modeling_utils::PreTrainedModel.from_pretrained
transformers.tokenization_utils_base::PreTrainedTokenizerBase.from_pretrained
transformers::AutoProcessor.from_pretrained
transformers::pipeline
