#info-container, #status {
  content-align: center middle;
}

VMCard {
  text-align: center;
  margin: 0;
  width: 43;
  height: 14;
}

#vmname {
  background: green;
  color: white;
  text-style: bold;
  height: 1;
  content-align: center middle;
}

#info-container {
  background: $background;
  color: white;
  width: 41;
  height: 14;
}

#dialog Select {
  width: 50;
  height: 5;
  border: none;
  margin: 0;
}

#dialog-buttons Button {
  width: 50%;
}

#io-sparkline,
#resources-sparkline,
#sparklines-container-group, {
  align-horizontal: left;
  height: 2;
  margin: 0 1;
}

.sparkline-label {
  width: 10;
  text-align: left;
  padding: 0;
}

#cpu-sparkline, #mem-sparkline {
  background: $panel;
  width: 25;
  margin-right: 1;
  padding-right: 1;
}

#cpu-sparkline { color: $success; }
#mem-sparkline { color: $warning; }

#status, Button, .Buttonpage, #xml, #snapshot_take,
#snapshot_restore, #snapshot_delete, .button-separator,
#connect, #create_overlay, #commit_disk, #discard_overlay {
  height: 1;
  padding: 0;
}

VMCard, Button, .Buttonpage, #snapshot-tab, #manage-tab {
  border: none;
}

#manage-tab Vertical, #snapshot-tab Vertical, #special-tab Vertical {
  width: 1fr;
}

.hidden { display: none !important; }

#vm-header-row {
  height: 3;
  align: center middle;
}

#status {
  margin: 0;
  text-style: bold;
  margin-bottom: 1;
}

#status.running, #status.stopped, #status.paused, #status.loading, #status.pmsuspended, #status.blocked { color: black; }
#status.running { background: lightgreen; }
#status.stopped { background: red; }
#status.paused { background: yellow; }
#status.pmsuspended { background: lightblue; }
#status.blocked { background: orange; }
#status.loading { background: grey; }

Button {
  width: 100%;
  margin: 0 1;
}

.Buttonpage {
  width: auto;
  margin: 0 -1;
  border: none;
  background: $primary-lighten-1;
}

#button-container, #status-cpu-mem {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 0;
}

#xml, #snapshot_take, #snapshot_restore, #snapshot_delete {
  color: white;
}

#xml {
  padding: 0 1;
  background: grey;
}

#xml:hover { background: lightgrey; }
#snapshot_take { background: #00008B; }
#snapshot_take:hover { background: #0000CD; }
#snapshot_restore { background: #0000FF; }
#snapshot_restore:hover { background: #1E90FF; }
#snapshot_delete { background: red; }
#snapshot_delete:hover { background: #FF4500; }
#pause { background: #FFA500; }
#pause:hover { background: #FFD700; }
#connect { background: red; }
#connect:hover { background: #FF4500; }
#create_overlay { background: green; }
#create_overlay:hover { background: lightgreen; }
#commit_disk { background: #0000FF; }
#commit_disk:hover { background: #1E90FF; }
#discard_overlay { background: red; }
#discard_overlay:hover { background: #FF4500; }

.delete-button:hover { background: #FF4500; }
.clone-button:hover { background: #FF69B4; }
.rename-button:hover { background: lightgreen; }

.vm-select-checkbox {
  width: 5;
  height: 2;
  border: none;
}
#actions-collapsible {
  height: auto;
  border: none;
  margin: 0 0;
  padding: 0 0;
}
