.bz-article-header {
  position: sticky;
  display: flex;
  z-index: 500;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: -1.75rem;
  margin-inline: -1.5rem;
  padding: 1rem 1.25rem .75rem;
  background: color-mix(in oklab, var(--bz-page-background-color) 90%, transparent);
  backdrop-filter: blur(.4rem) saturate(150%) brightness(1.05);
  top: var(--bz-header-tabs-height);

  > * {
    min-width: 0;
  }

  @media (width > 52rem) {
    margin-top: -1.25rem;
    top: var(--bz-header-height);
  }
}

.bz-sidebar-secondary-toggle {
  display: none;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.25rem;

  svg {
    display: block;
  }
}

:has(.bz-sidebar-secondary) .bz-sidebar-secondary-toggle {
  @media (width <= 75rem) {
    display: block;
  }
}
