.bz-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
  min-height: var(--bz-footer-height);
  padding-block: .5rem;
  padding-inline: calc(var(--bz-page-padding) + clamp(1.25rem, 1rem + 1.25vw, 2rem));
  color: var(--bz-footer-color);
  font-size: var(--bz-footer-font-size);
  font-family: var(--bz-footer-font-family);
  border-top: 1px solid var(--bz-footer-border-color);
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-footer-background-color) 100%, white 1%) 0%,
    var(--bz-footer-background-color) 50%,
    color-mix(in oklab, var(--bz-footer-background-color) 100%, black 1%) 100%
  );

  @media (width <= 36rem) {
    text-align: center;
    flex-direction: column;
  }

  > * {
    margin-block: .5rem;
  }

  a {
    color: var(--bz-footer-link-color);

    &:hover {
      color: var(--bz-footer-link-color-hover);
    }
  }
}
