#search-results {
  color: var(--bz-search-results-color);
  font-size: var(--bz-search-results-font-size);
  font-family: var(--bz-search-results-font-family);
  border-top: 1px solid var(--bz-search-results-border-color);
}

#search-results .search-summary {
  font-weight: 400;
  font-size: var(--bz-search-summary-font-size);
  font-family: var(--bz-search-summary-font-family);
  color: var(--bz-search-summary-color);
}

#search-results ul.search > li {
  padding-block: 1rem;
}

#search-results ul.search > li + li {
  border-top: 1px solid var(--bz-search-results-border-color);
}

#search-results ul.search li > a {
  font-weight: 600;
  font-size: var(--bz-search-results-link-font-size);
  font-family: var(--bz-search-results-link-font-family);
}

#search-results ul.search > li :last-child {
  margin-bottom: 0!important;
}

#search-results ul.search p.context {
  margin-block: .5rem;
}
