
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

:root {
  --rc-max-font-size: 16px;
  --rc-min-font-size: 9px;
  --rc-script-font: 'Mynerve';
}


pre, code, kbd, samp {
  font-family: var(--bs-font-monospace), monospace;
}

caption, figcaption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: var(--bs-secondary);
  text-align: left;
  caption-side: bottom;
}

.report-viewer {
  font-size-adjust: ch-width 0.5;
  figure {
    width: 100%;
    counter-increment: figures;
    margin-bottom: 0;
  }
}

.report-viewer figcaption:before {
  content: 'Figure ' counter(figures) ' - ';
}

.report-viewer .table caption:before {
  content: 'Table ' counter(tables) ' - ';
}

#report-builder {
  max-width: 60rem;
  margin: 1rem auto;
}

.first-col-left table tr > td:first-child {
  text-align: left;
}

section:not(:first-child) {
  margin-top: 1.5em;
}

.report-viewer {
  counter-reset: figures tables;

  .section-title {
    h2 {
      font-size: calc(0.75rem + 1.5vw);
      border-bottom: 1px dotted var(--bs-border-color-translucent);
      margin-bottom: 1em;
    }
  }

  .description {
    display: block;
  }

  .table {
    --bs-border-color: var(--bs-border-color-translucent);

    caption {
      counter-increment: tables;
    }

    tbody {
      td {
        text-align: right;
      }
    }

    .table-cell-string {
      text-align: left;

    }
    .table-cell-number {
      text-align: right;
      font-family: var(--bs-font-monospace), monospace;
    }

    thead {
      th {
        text-align: right;
        border-bottom: 2px solid var(--bs-border-color-translucent);
        vertical-align: bottom;
        border-top: 1px solid var(--bs-border-color-translucent);

        &:first-child {
          text-align: left;
        }
      }

      td {
        border-top: 1px solid var(--bs-border-color-translucent);
      }
    }

    > tr {
      > td {
        border-top: 1px solid var(--bs-border-color-translucent);
      }

      > th {
        border-top: 1px solid var(--bs-border-color-translucent);
      }
    }

  }

  .notes {
    background: var(--bs-tertiary-bg);
    padding: 1rem;
    color: var(--bs-body-color);

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    ol {
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      padding-inline-start: 2rem;
    }

    li {
      background-color: inherit;
    }
  }
}

.table-nowrap-headers {
  table th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.table-flip-headers {
  table > thead th:not(:first-child) {
    writing-mode: sideways-lr;
    white-space: nowrap;
    padding-top: var(--bs-table-cell-padding-y, 0.5em);
    padding-bottom: var(--bs-table-cell-padding-y, 0.5em);
  }
}

.entry {
  &.drag-placeholder {
    min-height: 15em;
    max-height: 100%;

    .card {
      border: 2px dashed var(--bs-border-color-translucent);
      border-radius: var(--bs-border-radius);
      min-height: 100%;
    }
  }

  &.dragging {
    display: none;
  }
}

.drag-handle {
  cursor: grab;
  user-select: none
}

.table-heading {
  text-align: center;
}

div.section-entry {
  margin-bottom: 1rem;
}

.report-table {
  max-width: 80%;
  margin: auto;
  border: 1px solid var(--bs-border-color-translucent);
  box-shadow: 2px 2px 10px var(--bs-border-color-translucent);
}

table {
  + {
    .caption {
      max-width: 80%;
      margin: auto;
      border: 1px solid var(--bs-border-color-translucent);
      box-shadow: 2px 2px 10px var(--bs-border-color-translucent);
    }
  }
}

.report-viewer {
  .rich-text {
    h1 {
      font-size: calc(1rem + 1.5vw);
      border-bottom: 1px solid var(--bs-border-color-translucent);
    }

    h2 {
      font-size: calc(0.75rem + 1.5vw);
    }

    h3 {
      font-size: calc(0.5rem + 1.5vw);
    }

    h4 {
      font-size: calc(0.25rem + 1.5vw);
    }

    h5 {
      font-size: calc(0.125rem + 1.5vw);
    }

    h6 {
      font-size: calc(1.5vw);
    }

    pre:has(code) {
      background: var(--bs-tertiary-bg);
      border: 1px solid var(--bs-border-color-translucent);
      border-left: 0.25em solid var(--bs-info);
      color: var(--bs-body-color);
      page-break-inside: avoid;
      font-family: var(--bs-font-monospace), monospace;
      font-size: 0.9em;
      line-height: 1.6;
      margin-bottom: 1.6em;
      max-width: 100%;
      overflow: auto;
      padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;
    }
  }
}


i {
  &.icon-xs {
    font-size: 1em;
  }

  &.icon-sm {
    font-size: 1.25em;
  }

  &.icon-md {
    font-size: 1.5em;
  }

  &.icon-lg {
    font-size: 2em;
  }

  &.icon-xl {
    font-size: 3em;
  }

}

svg {
  &.icon-xs {
    width: 1em;
  }

  &.icon-sm {
    width: 1.25em;
  }

  &.icon-md {
    width: 1.5em;
  }

  &.icon-lg {
    width: 2em;
  }

  &.icon-xl {
    width: 3em;
  }
}


.toolbox, .page-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1;
  text-align: center;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0 0.125em;

    &:first-child {
      padding-left: 0.5em;
    }

    &:last-child {
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
  }

  &:empty, &:blank, &:-moz-only-whitespace {
    display: none;
  }

  > .separator {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0.25em;

    & + .separator, &:last-child {
      display: none !important;
    }
  }
}

.custom-control {
  &.custom-radio, &.custom-checkbox, &.custom-switch {
    padding-top: 0.5em;
  }
}

.swatches {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25em;
  padding: 0.25em;

  + .swatches {
    border-top: 1px solid var(--bs-border-color-translucent);
  }

  .swatches-name {
    display: inline-block;
    font-family: var(--bs-font-monospace), monospace;
    min-width: 10em;
  }

  .swatches-colors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .swatch {
      display: inline-block;
      width: 2em;
      height: 2em;
    }
  }
}

.rc-chart-swatches {
  margin-bottom: 0.5em;
  font-size: 90%;

  .rc-chart-swatch > svg {
    margin-right: 0.5em;
    overflow: visible;
  }
  &.rc-chart-swatches-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .rc-chart-swatch {
      display: inline-flex;
      align-items: center;
      margin-right: 1em;
    }
  }

}

svg.rc-chart-ramp {
  font-size: 1em !important;
}
.report-sketch {
  --bs-font-sans-serif: var(--rc-script-font);
  --bs-font-monospace: var(--rc-script-monospace);
    font-family: var(--rc-script-font), cursive !important;
}

html.report-editor, body.report-editor {
  height: 100vh;
}

#rc-editor {
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  height: 100%;
  max-height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
		"header header"
		"work-area sidebar";
}

#rc-header {
  grid-area: header;
  padding: 0.75em;
}

#rc-editor-content {
  height: 100%;
  max-height: 100%;
  grid-area: work-area;
  overflow-y: auto;
  overflow-x: hidden;
}
#rc-editor-sidebar {
  height: 100%;
  max-height: 100%;
  grid-area: sidebar;
  overflow: hidden;
}

.rc-data-preview {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 0.9em;
  min-height: 0;
}

.flex-scrollable {
  min-height: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.rc-snippet-table {
  th {
    line-height: 1;
  }
}

.report-editor {
  .entry .card-body {
    min-height: 15em;
    max-height: 15em;
    overflow: hidden;

    pre {
      overflow: unset;
    }
  }

  .text-sm {
    font-size: 0.8em;
  }
}

div.google-visualization-tooltip > ul > li > span {
  font-family: var(--bs-font-sans-serif), sans-serif !important;
}


/* override styles when printing */
@media print {

  body {
    margin: 0;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
  }
  //:root {
  //  @include fluid-type($min_width, $max_width, $max_font, $max_font * 1.5);
  //}
}

//svg circle {
//  opacity: 0.75;
//}

$list-columns: (1, 2, 3, 4, 6);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);
@each $breakpoint, $value in $grid-breakpoints {
  @media (min-width: $value) {
    @each $num in $list-columns {
      .#{$breakpoint}-#{$num}-cols {
        column-count: $num;
        column-gap: var(--bs-column-gap);

        li {
          break-inside: avoid;
          page-break-inside: avoid;
        }
      }
    }
  }
}

.list-unstyled {
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-bg: var(--bs-body-bg);
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: var(--bs-border-radius);
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);

  .list-group-item {
    border-width: 0 0 var(--bs-border-width);
    color: var(--bs-body-color);
    background: var(--bs-body-bg);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// fix for bootstrap tabs
.nav-tabs {
  margin-top: 1em;

  .nav-item {
    margin-left: 0.25em;

    &:first-child {
      margin-left: 1em;
    }
  }
}

ul.nav-tabs.nav-tabs-sm {
  li {
    > a {
      margin-right: 2px;
      line-height: 1;
    }
  }
}

.section-entry.xyplot-entry {
  svg circle {
    //stroke: var(--bs-border-transluscent);
    //stroke-width: 0.75px;
  }
}

g {
  --plot-background: var(--bs-body-bg, #fff) !important;
}

figure > div { // legend fix
  display: flex;
  justify-content: center;
}

.text-container {
  text {
    text-shadow:
            0 0 5px var(--bs-body-bg),
            0 0 5px var(--bs-body-bg),
            0 0 5px var(--bs-body-bg);
  }
}