[bumpversion]
current_version = 0.3.0
commit = False
tag = False

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:elroy/__init__.py]
search = "{current_version}"
replace = "{new_version}"
