.centered {
  text-align: center;
}

.emoji {
  margin-left: -3px;
  text-shadow:
    -0.5px -0.5px 0 #00000022,
    0.5px -0.5px 0 #00000022,
    -0.5px 0.5px 0 #00000022,
    0.5px 0.5px 0 #00000022;
}

.rounded {
  border-radius: var(--bz-border-radius-full)!important;
}

.sized {
  height: 1em;
  font-size: inherit;
  vertical-align: middle;
}

.muted {
  color: var(--bz-color-muted);
}

.align-default {
  width: 100%;
}

.align-default, .align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

img.align-center,
figure.align-center,
object.align-center,
.figure.align-center {
  display: block;
  margin-inline: auto;
}

:root[data-theme="dark"] .only-light,
:root[data-theme="light"] .only-dark {
  position: absolute;
  z-index: -1;
  height: 0;
  width: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  visibility: hidden;
}

[data-tooltip] {
  position: relative;

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 125%;
    left: 50%;
    opacity: 0;
    padding-block: 0.35rem;
    padding-inline: 0.65rem;
    border-radius: var(--bz-border-radius);
    transform: translateX(-50%);
    translate: 0 -1000vh;
    color: var(--bz-tooltip-color);
    font-size: var(--bz-tooltip-font-size);
    font-family: var(--bz-tooltip-font-family);
    border: 1px solid var(--bz-tooltip-border-color);
    background: var(--bz-tooltip-background-color);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    pointer-events: none;
    white-space: nowrap;
  }

  &:hover:not(:active, :focus, :focus-visible, :focus-within)::after {
    opacity: 1;
    translate: 0;
    transform: translateX(-50%) translateY(0.75rem);
    transition-delay: 500ms;
  }
}

.bz-header-separator {
  position: sticky;
  z-index: 999;
  border: none;
  height: 9px;
  margin: -8px 0 0 0;
  top: calc(var(--bz-header-tabs-height) - 8px);
  border-bottom: 1px solid var(--bz-header-border-color);
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow);

  @media (width > 52rem) {
    top: calc(var(--bz-header-height) - 8px);
  }
}
