.pin {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    pointer-events: fill;
    mix-blend-mode: screen;
}

#cyan,
#cyan_glow {
    fill: #00ffff;
}


#magenta,
#magenta_glow {
    fill: #ff00ff;
}

#yellow,
#yellow_glow {
    fill: #ffff00;
}

.glow {
    opacity: 0;
    transition: opacity 0.2s;

    /* visibility: hidden; */
}

.trick {
    fill: rgb(255, 255, 255);
    mix-blend-mode: screen;
    /* pointer-events: none; */
}