.pin:hover {
    filter: url(#glow);
}

.hovered {
    /* visibility: visible; */
    opacity: 100;
    /* z-index: 2 !important; */
}

#trick:hover {
    mix-blend-mode: normal;
    stroke: red;
    stroke-width: 10;
}