.bz-edit-this-page a {
  color: var(--bz-edit-this-page-color);
  font-size: var(--bz-edit-this-page-font-size);
  font-family: var(--bz-edit-this-page-font-family);
  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
    color: var(--bz-edit-this-page-color-hover);
  }

  svg {
    height: .85em;
    width: .85em;
    vertical-align: middle;
  }
}
