.bz-external-links {
  display: flex;
  position: relative;
  align-items: center;
  gap: clamp(0.5rem, 0.413rem + 0.435vw, 0.75rem);
  font-size: var(--bz-external-links-font-size);
  font-family: var(--bz-external-links-font-family);

  svg {
    display: block;
    height: 1.125rem;
  }

  a {
    color: var(--bz-external-links-color);
    transition: color .1s ease-in-out;

    &:hover {
      color: var(--bz-external-links-color-hover);
    }
  }
}

.bz-footer .bz-external-links svg {
  height: 1.5rem;
}
