.bz-header-brand {
  display: flex;
  align-items: center;
  gap: .75rem;
  color: var(--bz-header-brand-color);
  text-decoration: none;
  font-size: var(--bz-header-brand-font-size);
  font-family: var(--bz-header-brand-font-family);
  font-weight: 500;

  > img {
    height: 2rem;
  }

  &:hover {
    color: var(--bz-header-brand-color-hover);
  }
}
