.bz-sidebar-nav {
  font-size: var(--bz-sidebar-nav-font-size);
  font-family: var(--bz-sidebar-nav-font-family);

  > :first-child {
    margin-top: 0;
  }

  > p {
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: .5rem;
    padding-inline: .5rem;
    color: var(--bz-sidebar-nav-caption-color);
    font-size: var(--bz-sidebar-nav-caption-font-size);
    font-family: var(--bz-sidebar-nav-caption-font-family);
  }

  ul ul {
    padding-left: 1.25rem;
  }

  li {
    position: relative;

    &:not(:has(a.current)) a {
      color: var(--bz-sidebar-nav-color);
    }
  }

  a {
    display: block;
    border-radius: var(--bz-border-radius);
    text-decoration: none;
    font-weight: 400;
    padding: .3rem .5rem;
    color: var(--bz-sidebar-nav-color-active);
    transition: background-color ease-in-out .15s, text-shadow ease-in-out .15s;

    &:hover {
      color: var(--bz-sidebar-nav-color-hover) !important;
      background-color: var(--bz-sidebar-nav-background-color-hover);
      background: linear-gradient(
        180deg,
        color-mix(in oklab, var(--bz-sidebar-nav-background-color-hover) 100%, white 1%) 0%,
        var(--bz-sidebar-nav-background-color-hover) 50%,
        color-mix(in oklab, var(--bz-sidebar-nav-background-color-hover) 100%, black 1%) 100%
      );
    }

    &.current {
      text-shadow: 0.03em 0 0 currentColor, -0.03em 0 0 currentColor;
    }
  }

  details:open {
    margin-top: .325rem;

    > summary::after {
      transform: rotate(90deg);
    }
  }

  summary {
    cursor: pointer;
    list-style: none;

    &::after, &::before {
      content: "";
      position: absolute;
      height: 1.25em;
      width: 1.25em;
      top: 0.4em;
      right: -1.25rem;
      border-radius: calc(var(--bz-border-radius) / 2);
    }

    &::after {
      mask-image: var(--bz-icon-chevron);
      background-color: var(--bz-sidebar-nav-color);
      transition: transform ease-in-out .15s;
    }

    &:hover::before {
      background-color: var(--bz-sidebar-nav-background-color-hover);
    }

    &:hover::after {
      background-color: var(--bz-sidebar-nav-color-hover);
    }

    &:focus-visible::before {
      outline: 1px solid;
    }
  }
}
