GraphicsView#video {
    background: black;
}

QPushButton {
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
QLabel {
    font-size: 15px;
    color: white;
}

QSlider {
    height: 20px;
    border-radius: 10px;
}

QSlider::groove:horizontal {
    height: 4px;
    background: #303030;
    border-radius: 2px;
    margin: 8px 0;
}

QSlider::sub-page:horizontal {
    height: 6px;
    background: #f00;
    border-radius: 2px;
    margin: 8px 0;
}

QSlider::handle:horizontal {
    width: 10px;
    height: 10px;
    background: #f00;
    border-radius: 4px;
    margin: -3px 0;
}
