@import "color";

.scatterplot-title {
  fill: $quaternary;
  font: bold 20px sans-serif;
  text-anchor: middle;
}

.scatterplot-xlabel {
  fill: #000;
  font: 20px sans-serif;
  text-anchor: middle;
}

.scatterplot-ylabel {
  fill: #000;
  font: 20px sans-serif;
  text-anchor: middle;
}

.scatterplot-line {
  fill: none;
  stroke: $quaternary;
  stroke-width: 2px;
}

.scatterplot-line-dashed {
  stroke-dasharray: 5, 5;
  fill: none;
  stroke: $quaternary;
}

.scatterplot-line-dotted {
  stroke-dasharray: 2, 8;
  fill: none;
  stroke: $quaternary;
}

.scatterplot-line-dot-dashed {
  stroke-dasharray: 6, 3, 2, 3;
  fill: none;
  stroke: $quaternary;
}

.scatterplot-line-dot-dashed-dashed {
  stroke-dasharray: 6, 3, 2, 3, 6, 3;
  fill: none;
  stroke: $quaternary;
}

.scatterplot-no-line {
  fill: none;
  stroke: none;
  stroke-width: 0px;
}

.scatterplot-point {
  fill: $primary;
  stroke: #fff;
  stroke-width: 1px;
}

.scatterplot-xerror,
.scatterplot-yerror {
  stroke: $secondary;
  stroke-width: 1px;
}
