.logo-navbar {
  width: 100px; }

.nav-item {
  border: 2px solid #007bff; }

.nav-item:hover {
  background-color: #0066cc;
  border: 2px solid #0066cc;
  border-radius: 6px 6px; }

.nav-item.active {
  border: 2px solid #3399ff;
  border-radius: 6px 6px;
  background-color: #0066cc;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2); }

.first-nav div ul li.nav-separator {
  border: 1px solid #3399ff; }

.second-nav div ul li.nav-separator {
  border: 1px solid #80bfff; }

.first-nav {
  overflow-x: scroll;
  min-height: 60px;
  background-color: #007bff; }

.second-nav {
  overflow-x: scroll;
  background-color: #3399ff;
  top: 60px; }

.navbar div ul li a {
  color: white !important; }

.nav-subitem {
  border: 2px solid #3399ff; }

.nav-subitem:hover {
  background-color: #4d94e6;
  border: 2px solid #4d94e6;
  border-radius: 6px 6px; }

.nav-subitem.active {
  border: 2px solid #80bfff;
  border-radius: 6px 6px;
  background-color: #4d94e6;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1); }

#navbarToggler,
#navbarToggler2 {
  overflow-y: scroll; }

.WIP {
  height: 300px; }

div svg {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* All div elements with id starting with "plot-" */
div[id^="plot-"] {
  height: 400px;
  position: relative;
  overflow: hidden;
  /* Avoid overflow */
  display: flex;
  align-items: center;
  justify-content: center; }
  div[id^="plot-"] svg {
    max-width: 100%;
    max-height: 100%;
    display: block; }

/* If id starts with "plot-" and ends with "-cameraView" use taller height (override by being later) */
div[id^="plot-"][id$="_cameraView"] {
  min-height: 400px;
  /* o una height coerente alla tua configurazione */
  position: relative;
  overflow: hidden; }
  div[id^="plot-"][id$="_cameraView"] svg {
    display: block;
    max-width: 100%;
    height: auto; }

.plot-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
  color: red;
  font-weight: bold; }

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
  color: gray;
  font-style: italic; }
