@font-face {
  font-family: 'Gandhi';
  src: url("../fonts/GandhiSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gandhi';
  src: url("../fonts/GandhiSans-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gandhi';
  src: url("../fonts/GandhiSans-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

:root {
  --font-family-main: 'Gandhi', sans-serif;
  --font-family-secondary: 'Gandhi', sans-serif; }

:root {
  color-scheme: light dark;
  --static-color: black;
  --static-invert-color: #fefff8;
  --static-target-color: #00a3cb;
  --static-transparent: rgba(0, 0, 0, 0);
  --map-pin-color: #FF785A;
  --map-favourite-pin-color: #ff9600;
  --map-cluster-large-color: #FF785A;
  --map-cluster-medium-color: rgba(41, 111, 4, 0.8);
  --map-cluster-small-color: rgba(41, 111, 4, 0.5);
  --instance-1-color: #cef118;
  --instance-2-color: #b56dff;
  --instance-3-color: #1deace;
  --instance-4-color: #ffc03c;
  --instance-5-color: #f89fff;
  --border-color: #b0b0b0;
  --border-trans-color: rgba(128, 128, 128, 0.2);
  --box-shadow-color: gray;
  --func-caution-color: #ff9600;
  --func-disabled-color: #b0b0b0;
  --func-negative-color: #e11400;
  --func-negative-alternate-color: #9b001f;
  --func-neutral-color: #007ab1;
  --func-positive-color: #10a066;
  --func-positive-alternate-color: #ffaa5a;
  --highlight-color: rgba(255, 255, 0, 0.75);
  --highlight-background-color: rgba(255, 255, 0, 0.25);
  --highlight-hover-background-color: rgba(255, 255, 0, 0.75);
  --highlight-hover-text-color: black;
  --icon-neutral-color: gray;
  --link-color: #296f04;
  --loader-layer-background-color: rgba(0, 0, 0, 0.8);
  --mask-layer-background-color: rgba(254, 255, 248, 0.8);
  --oversized-text-color: black;
  --screen-background-color: #f8f8f8;
  --screen-shaded-background-color: #b0b0b0;
  --screen-trans-background-color: rgba(248, 248, 248, 0.95);
  --screen-striped-background-color: rgba(128, 128, 128, 0.05);
  --svg-fill-color: black;
  --svg-invert-fill-color: #fefff8;
  --text-color: #444444;
  --text-greyed-color: #757575;
  --theme-color: black;
  --theme-text-color: #fefff8;
  --title-background-color: rgba(41, 111, 4, 0.1);
  --title-hover-background-color: rgba(255, 170, 90, 0.5);
  --title-color: black;
  --collapsible-title-color: black;
  --dashboard-title-background-color: #fefff8;
  --form-button-background-color: #fefff8;
  --form-button-disabled-background-color: rgba(128, 128, 128, 0.05);
  --form-button-disabled-text-color: gray;
  --form-button-icon-color: black;
  --form-button-icon-hover-shadow: rgba(0, 0, 0, 0.5);
  --form-button-main-text-color: black;
  --form-button-text-color: black;
  --form-checkradio-disabled-line-color: #b0b0b0;
  --form-checkradio-line-color: #757575;
  --form-checkradio-line-focus-color: black;
  --form-data-background-color: #fefff8;
  --form-focus-line1-color: rgba(128, 128, 128, 0.5);
  --form-focus-line2-color: rgba(128, 128, 128, 0.2);
  --form-focus-line3-color: rgba(128, 128, 128, 0.05);
  --form-focus-outline-color: rgba(128, 128, 128, 0.5);
  --form-group-hover-color: rgba(16, 160, 102, 0.5);
  --form-icon-button-hover-color: #ffaa5a;
  --form-input-background-color: #fefff8;
  --form-input-disabled-text-color: gray;
  --form-input-line-color: black;
  --form-main-button-background-color: #ffaa5a;
  --form-negative-button-text-color: #fefff8;
  --form-required-background-color: #fefff8;
  --form-select-arrow-hover: url(../icons/chevron-select-active.svg);
  --form-select-arrow: url(../icons/chevron-select.svg);
  --form-select-selectedline-color: rgba(128, 128, 128, 0.2);
  --form-title-text-hover-color: #ffaa5a;
  --login-atwork-background-color: rgba(254, 255, 248, 0.8);
  --login-atwork-hover-background-color: #fefff8;
  --login-atwork-shadow-color: gray;
  --login-text-shadow-color: #fefff8;
  --message-danger-background-color: rgba(225, 20, 0, 0.05);
  --message-default-background-color: rgba(128, 128, 128, 0.05);
  --message-default-border-color: #b0b0b0;
  --message-footer-color: #444444;
  --message-info-background-color: rgba(41, 111, 4, 0.05);
  --message-success-background-color: rgba(16, 160, 102, 0.05);
  --message-warning-background-color: rgba(255, 150, 0, 0.05);
  --tag-default-background-color: rgba(128, 128, 128, 0.2);
  --menu-active-background-color: #b0b0b0;
  --menu-background-color: #fefff8;
  --menu-border-color: #fefff8;
  --menu-text-color: black;
  --table-even-line-color: rgba(254, 255, 248, 0.8);
  --table-hover-line-color: rgba(255, 170, 90, 0.5);
  --table-input-background: rgba(254, 255, 248, 0.5);
  --table-odd-line-color: rgba(128, 128, 128, 0.1);
  --table-odd-line-theme-color: rgba(41, 111, 4, 0.1);
  --table-order-button-color: #444444;
  --table-row-recap-color: rgba(128, 128, 128, 0.05);
  --table-row-recap-main-color: rgba(128, 128, 128, 0.2);
  --table-separator-line: #757575;
  --mce-bar-background: #e6e6e6; }
  :root body.caerp.theme_manage_people {
    --oversized-text-color: #296f04;
    --theme-color: #296f04;
    --theme-text-color: #fefff8;
    --title-color: #296f04;
    --collapsible-title-color: #296f04;
    --form-title-text-hover-color: black;
    --menu-active-background-color: #def0cc;
    --table-row-recap-color: rgba(41, 111, 4, 0.05);
    --table-row-recap-main-color: rgba(41, 111, 4, 0.2); }
  :root body.caerp.theme_manage_entity {
    --oversized-text-color: black;
    --theme-color: #21cdf7;
    --theme-text-color: black;
    --title-color: black;
    --collapsible-title-color: black;
    --form-title-text-hover-color: #ffaa5a;
    --menu-active-background-color: #def0cc;
    --table-row-recap-color: rgba(33, 205, 247, 0.1);
    --table-row-recap-main-color: rgba(33, 205, 247, 0.25); }

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: gray;
    --border-trans-color: rgba(128, 128, 128, 0.2);
    --box-shadow-color: black;
    --func-caution-color: #ffe100;
    --func-disabled-color: #b0b0b0;
    --func-negative-color: #ff9600;
    --func-negative-alternate-color: #9b001f;
    --func-neutral-color: #199aba;
    --func-positive-color: #10a066;
    --func-positive-alternate-color: #ffaa5a;
    --highlight-color: rgba(255, 225, 0, 0.9);
    --highlight-background-color: rgba(255, 255, 0, 0.25);
    --highlight-hover-background-color: rgba(255, 255, 0, 0.75);
    --highlight-hover-text-color: black;
    --icon-neutral-color: #757575;
    --link-color: #ffaa5a;
    --loader-layer-background-color: rgba(254, 255, 248, 0.8);
    --mask-layer-background-color: rgba(0, 0, 0, 0.8);
    --oversized-text-color: #21cdf7;
    --screen-background-color: #333333;
    --screen-shaded-background-color: black;
    --screen-trans-background-color: rgba(51, 51, 51, 0.95);
    --svg-fill-color: #fefff8;
    --svg-invert-fill-color: black;
    --text-color: #fefff8;
    --text-greyed-color: rgba(254, 255, 248, 0.6);
    --title-background-color: rgba(41, 111, 4, 0.5);
    --title-hover-background-color: rgba(0, 0, 0, 0.2);
    --title-color: #fefff8;
    --collapsible-title-color: #21cdf7;
    --dashboard-title-background-color: black;
    --form-button-background-color: black;
    --form-button-disabled-background-color: rgba(128, 128, 128, 0.05);
    --form-button-disabled-text-color: gray;
    --form-button-icon-color: #fefff8;
    --form-button-icon-hover-shadow: #fefff8;
    --form-button-main-text-color: black;
    --form-button-text-color: #fefff8;
    --form-checkradio-disabled-line-color: #b0b0b0;
    --form-checkradio-line-color: rgba(254, 255, 248, 0.8);
    --form-checkradio-line-focus-color: #fefff8;
    --form-data-background-color: rgba(0, 0, 0, 0.2);
    --form-focus-line1-color: rgba(254, 255, 248, 0.8);
    --form-focus-line2-color: rgba(254, 255, 248, 0.5);
    --form-focus-line3-color: rgba(254, 255, 248, 0.2);
    --form-focus-outline-color: rgba(254, 255, 248, 0.5);
    --form-group-hover-color: rgba(16, 160, 102, 0.5);
    --form-icon-button-hover-color: #ffaa5a;
    --form-input-background-color: black;
    --form-input-disabled-text-color: gray;
    --form-input-line-color: #fefff8;
    --form-main-button-background-color: #ffaa5a;
    --form-negative-button-text-color: black;
    --form-required-background-color: black;
    --form-select-arrow-hover: url(../icons/chevron-select-active.svg);
    --form-select-arrow: url(../icons/chevron-select-white.svg);
    --form-select-selectedline-color: rgba(128, 128, 128, 0.5);
    --form-title-text-hover-color: #ffaa5a;
    --login-atwork-background-color: rgba(0, 0, 0, 0.8);
    --login-atwork-hover-background-color: black;
    --login-atwork-shadow-color: black;
    --login-text-shadow-color: black;
    --message-danger-background-color: rgba(0, 0, 0, 0.2);
    --message-default-background-color: rgba(0, 0, 0, 0.2);
    --message-default-border-color: #b0b0b0;
    --message-footer-color: rgba(254, 255, 248, 0.6);
    --message-info-background-color: rgba(0, 0, 0, 0.2);
    --message-success-background-color: rgba(0, 0, 0, 0.2);
    --message-warning-background-color: rgba(0, 0, 0, 0.2);
    --menu-active-background-color: gray;
    --menu-background-color: black;
    --menu-border-color: black;
    --menu-text-color: #fefff8;
    --table-even-line-color: rgba(0, 0, 0, 0.2);
    --table-hover-line-color: rgba(255, 170, 90, 0.2);
    --table-input-background: rgba(0, 0, 0, 0.5);
    --table-odd-line-color: rgba(254, 255, 248, 0.05);
    --table-odd-line-theme-color: rgba(41, 111, 4, 0.1);
    --table-order-button-color: #b0b0b0;
    --table-row-recap-color: rgba(33, 205, 247, 0.25);
    --table-row-recap-main-color: rgba(128, 128, 128, 0.2);
    --table-separator-line: rgba(254, 255, 248, 0.5);
    --mce-bar-background: #444444; }
    :root body.caerp.theme_manage_people {
      --oversized-text-color: #21cdf7;
      --title-color: #fefff8;
      --collapsible-title-color: #ffaa5a;
      --form-title-text-hover-color: #ffaa5a;
      --menu-active-background-color: #FF785A;
      --table-row-recap-color: rgba(33, 205, 247, 0.25);
      --table-row-recap-main-color: rgba(33, 205, 247, 0.55); }
    :root body.caerp.theme_manage_entity {
      --oversized-text-color: #21cdf7;
      --title-color: #21cdf7;
      --collapsible-title-color: #ffaa5a;
      --form-title-text-hover-color: #ffaa5a;
      --menu-active-background-color: #199aba;
      --table-row-recap-color: rgba(33, 205, 247, 0.1);
      --table-row-recap-main-color: rgba(33, 205, 247, 0.25); } }
