
.popover-container[data-v-8b5d0b86] {
  position: relative;
  display: inline-block;
}
.popover[data-v-8b5d0b86] {
  position: fixed;
  padding: 10px;
  background-color: var(--color-background-primary);
  border: 0.5px solid var(--color-border-primary);
  border-radius: 4px;
  box-shadow: var(--shadow-lg);
  min-width: var(--v355ab648);
  color: var(--color-text-primary);
}
.popover--left[data-v-8b5d0b86] {
  min-width: 200px;
}
.popover-reference[data-v-8b5d0b86] {
  cursor: pointer;
}
.popover h3[data-v-8b5d0b86] {
  margin: 0 0 2px;
  font-size: 16px;
  font-family: var(--font-family-base);
}
.popover p[data-v-8b5d0b86] {
  margin: 0;
  font-family: var(--font-family-base);
}
.content[data-v-8b5d0b86] {
  white-space: pre-wrap;
}
