
/* Context menu styling */
.context-menu[data-v-b95bade0] {
  position: fixed;
  z-index: 1000;
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-background-primary);
  padding: 8px;
  box-shadow: var(--shadow-lg);
  border-radius: 4px;
  user-select: none;
}
.context-menu button[data-v-b95bade0] {
  display: block;
  background: none;
  border: none;
  padding: 4px 8px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  color: var(--color-text-primary);
}
.context-menu button[data-v-b95bade0]:hover {
  background-color: var(--color-background-hover);
}

/* Table wrapper for scrolling */
.table-wrapper[data-v-b95bade0] {
  max-height: 700px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: auto;
  margin: 5px;
}

/* Adjusted font size for input fields */
[data-v-b95bade0] .smaller-el-input .el-input__inner {
  padding: 2px 10px;
  font-size: 12px;
  height: 24px;
  line-height: 20px;
}
.smaller-el-input[data-v-b95bade0] {
  line-height: 20px;
}

/* Highlight selected rows */
.highlight-row[data-v-b95bade0] {
  background-color: #e7e6e6 !important;
}

/* Greyed out styling for unavailable fields */
.greyed-out[data-v-b95bade0] {
  background-color: #dcdcdc !important;
  color: #888 !important;
  z-index: 1;
}

/* Unavailable field styling */
.unavailable-field[data-v-b95bade0] {
  display: flex;
  align-items: center;
  position: relative;
  pointer-events: auto;
}

/* Remove missing fields button styling */
.remove-missing-fields[data-v-b95bade0] {
  display: flex;
  align-items: center;
  background-color: #d9534f;
  padding: 4px 8px;
  margin: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9em;
}
.remove-missing-fields[data-v-b95bade0]:hover {
  background-color: #c9302c;
}
.remove-missing-fields > unavailable-field[data-v-b95bade0] {
  margin-right: 4px;
}

/* Adjustments for el-checkbox component */
[data-v-b95bade0] .el-checkbox {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
[data-v-b95bade0] .el-checkbox .el-checkbox__input {
  height: 16px;
  width: 16px;
  margin: 0;
}
[data-v-b95bade0] .el-checkbox .el-checkbox__inner {
  height: 16px;
  width: 16px;
}
[data-v-b95bade0] .el-checkbox .el-checkbox__label {
  font-size: 12px;
  line-height: 20px;
  margin-left: 4px;
}
