
.validation-wrapper[data-v-de7ac2a5] {
  background-color: var(--color-background-primary);
}
.error-message[data-v-de7ac2a5] {
  color: #991b1b;
  margin: 5px 0;
  font-size: 12px;
}
.warning-icon[data-v-de7ac2a5] {
  cursor: pointer;
  font-size: 24px;
}
