ListView > ListItem.-highlight {
    background: $primary-background;
}

/* Utility classes  */

.show { display: block; }
.hide { display: none; }

.remove { visibility: hidden; display: none; }

.text-success { color: $success }
.text-error { color: $error }
.text-muted { color: $text-muted }

.text-header {
    text-style: bold;
    background: $secondary;
    height: 1;
    width: 100%;
    text-align: center;
}
