.md-header {
  background-color: white;
  color: black;
}

.md-header[data-md-state=shadow] {
  box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2);
}

:root {
  --md-header-height: 80px;
}

.md-content {
  box-shadow: -0.5px -0.5px 1px 1px gray;
  padding: 1;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 60px;
  width: 60px;
}
