.admonition,
.topic,
div.versionadded,
div.versionchanged,
div.deprecated,
div.versionremoved {
  overflow: hidden;
  border-radius: var(--bz-border-radius);
  margin-inline: auto;
  font-size: var(--bz-topic-font-size);
  font-family: var(--bz-topic-font-family);
  padding: 1rem .9rem 1.5rem;
  margin-block: 1.5rem;
}

.topic {
  color: var(--bz-topic-color);
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-topic-background-color) 100%, white 1%) 0%,
    var(--bz-topic-background-color) 50%,
    color-mix(in oklab, var(--bz-topic-background-color) 100%, black 1%) 100%
  );
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    inset 0 2px 0 color-mix(in oklab, var(--bz-topic-background-color) 100%, white 4%),
    inset 0 -1px 0 color-mix(in oklab, var(--bz-topic-background-color) 100%, black 6%),
    inset 1px 0 0 color-mix(in oklab, var(--bz-topic-background-color) 100%, white 2%),
    inset -2px 0 0 color-mix(in oklab, var(--bz-topic-background-color) 100%, black 3%);
}

.admonition,
div.versionadded,
div.versionchanged,
div.deprecated,
div.versionremoved {
  color: var(--bz-admonition-color);
  border-left: 4px solid var(--bz-admonition-accent-color);
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-admonition-background-color) 100%, white 1%) 0%,
    var(--bz-admonition-background-color) 50%,
    color-mix(in oklab, var(--bz-admonition-background-color) 100%, black 1%) 100%
  );
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    inset 0 2px 0 color-mix(in oklab, var(--bz-admonition-background-color) 100%, white 4%),
    inset 0 -1px 0 color-mix(in oklab, var(--bz-admonition-background-color) 100%, black 6%),
    inset 1px 0 0 color-mix(in oklab, var(--bz-admonition-background-color) 100%, white 2%),
    inset -2px 0 0 color-mix(in oklab, var(--bz-admonition-background-color) 100%, black 3%);
}

div.versionadded,
div.versionchanged,
div.deprecated,
div.versionremoved {
  padding-block: .5rem;
}

p.admonition-title {
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: 500;
  font-size: var(--bz-admonition-title-font-size);
  font-family: var(--bz-admonition-title-font-family);
  margin: -1rem -.9rem;
  padding: .5rem;
  gap: .4rem;
  margin-bottom: 0;
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-admonition-accent-color) 26%, #ffffff03) 0%,
    color-mix(in oklab, var(--bz-admonition-accent-color) 26%, transparent) 50%,
    color-mix(in oklab, var(--bz-admonition-accent-color) 26%, #00000003) 100%
  );
  box-shadow:
    inset 0 2px 0 color-mix(in oklab, var(--bz-admonition-accent-color) 7%, #ffffff01 2%),
    inset 0 -1px 0 color-mix(in oklab, var(--bz-admonition-accent-color) 7%, #00000001 3%),
    inset 1px 0 0 color-mix(in oklab, var(--bz-admonition-accent-color) 7%, #ffffff01 1%),
    inset -2px 0 0 color-mix(in oklab, var(--bz-admonition-accent-color) 7%, #00000001 2%);
}

p.topic-title {
  font-weight: 600;
  font-size: var(--bz-topic-title-font-size);
  font-family: var(--bz-topic-title-font-family);
  margin-top: -.25rem;
}

p:where(.admonition-title, .topic-title) + * {
  margin-top: .5rem;
}

:where(.admonition, .topic) > :last-child {
  margin-bottom: -.5rem;
}

:where(div.versionadded, div.versionchanged, div.deprecated, div.versionremoved) > :last-child {
  margin-bottom: .25rem;
}

:where(div.versionadded, div.versionchanged, div.deprecated, div.versionremoved) > :first-child {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;
  flex-wrap: wrap;
}

p.admonition-title::before {
  content: "";
  mask-image: var(--bz-admonition-icon);
  background-color: var(--bz-admonition-accent-color);
  margin-block: -.075rem;
  height: 1.15rem;
  width: 1.15rem;
}

span.versionmodified {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-style: italic;
  margin-right: .5rem;
  gap: .5rem;
}

span.versionmodified::before {
  content: "";
  background-color: var(--bz-admonition-accent-color);
  mask-image: var(--bz-admonition-icon);
  height: 1rem;
  width: 1rem;
}

.admonition.attention {
  --bz-admonition-accent-color: var(--bz-admonition-attention-color);
  --bz-admonition-icon: var(--bz-admonition-attention-icon);
}

.admonition.caution {
  --bz-admonition-accent-color: var(--bz-admonition-caution-color);
  --bz-admonition-icon: var(--bz-admonition-caution-icon);
}

.admonition.danger {
  --bz-admonition-accent-color: var(--bz-admonition-danger-color);
  --bz-admonition-icon: var(--bz-admonition-danger-icon);
}

.admonition.error {
  --bz-admonition-accent-color: var(--bz-admonition-error-color);
  --bz-admonition-icon: var(--bz-admonition-error-icon);
}

.admonition.hint {
  --bz-admonition-accent-color: var(--bz-admonition-hint-color);
  --bz-admonition-icon: var(--bz-admonition-hint-icon);
}

.admonition.important {
  --bz-admonition-accent-color: var(--bz-admonition-important-color);
  --bz-admonition-icon: var(--bz-admonition-important-icon);
}

.admonition.note {
  --bz-admonition-accent-color: var(--bz-admonition-note-color);
  --bz-admonition-icon: var(--bz-admonition-note-icon);
}

.admonition.seealso {
  --bz-admonition-accent-color: var(--bz-admonition-seealso-color);
  --bz-admonition-icon: var(--bz-admonition-seealso-icon);
}

.admonition.admonition-todo {
  --bz-admonition-accent-color: var(--bz-admonition-todo-color);
  --bz-admonition-icon: var(--bz-admonition-todo-icon);
}

.admonition.warning {
  --bz-admonition-accent-color: var(--bz-admonition-warning-color);
  --bz-admonition-icon: var(--bz-admonition-warning-icon);
}

.admonition.tip {
  --bz-admonition-accent-color: var(--bz-admonition-tip-color);
  --bz-admonition-icon: var(--bz-admonition-tip-icon);
}

div.versionadded {
  --bz-admonition-accent-color: var(--bz-admonition-versionadded-color);
  --bz-admonition-icon: var(--bz-admonition-versionadded-icon);
}

div.versionchanged {
  --bz-admonition-accent-color: var(--bz-admonition-versionchanged-color);
  --bz-admonition-icon: var(--bz-admonition-versionchanged-icon);
}

div.deprecated {
  --bz-admonition-accent-color: var(--bz-admonition-deprecated-color);
  --bz-admonition-icon: var(--bz-admonition-deprecated-icon);
}

div.versionremoved {
  --bz-admonition-accent-color: var(--bz-admonition-versionremoved-color);
  --bz-admonition-icon: var(--bz-admonition-versionremoved-icon);
}
