dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple) {
  .sig + dd {
    clear: right;
  }

  > dd, > dd > p {
    padding-left: clamp(0.35rem, 0.3rem + 0.25vw, 0.5rem);
  }

  dl:not(.field-list) {
    padding-left: clamp(0.5rem, 0.25rem + 1.25vw, 1.25rem);
  }

  dl.field-list dd > ul {
    margin-bottom: 1rem;
  }

  dl.field-list {
    display: block;
    border-radius: var(--bz-border-radius);
    color: var(--bz-sig-table-color);
    font-size: var(--bz-sig-table-font-size);
    font-family: var(--bz-sig-table-font-family);
    border: 1px solid var(--bz-sig-border-color);
    background-color: var(--bz-sig-table-background-color);
    border-top: none;
    > dd {
      padding-inline: .75rem;
    }
  }

  dt.field-odd, dt.field-even {
    text-transform: uppercase;
    color: var(--bz-sig-table-head-color);
    font-size: var(--bz-sig-table-head-font-size);
    font-family: var(--bz-sig-table-head-font-family);
    border-bottom: 1px solid var(--bz-sig-border-color);
    padding: .35rem .7rem;
    margin-bottom: .5rem;
    background: linear-gradient(
      180deg,
      color-mix(in oklab, var(--bz-sig-table-head-background-color) 100%, white 1%) 0%,
      var(--bz-sig-table-head-background-color) 50%,
      color-mix(in oklab, var(--bz-sig-table-head-background-color) 100%, black 1%) 100%
    );

    &:first-child {
      border-radius: calc(var(--bz-border-radius) * 0.5) calc(var(--bz-border-radius) * 0.5) 0 0;
    }
  }
}

dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple):not(
    dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple)
      dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple)
  ) {
  margin-bottom: 2.5rem;
}

dl > dt > a:has(.viewcode-link) {
  user-select: none;
  z-index: 1;
  position: sticky;
  right: -.5rem;
  margin-right: -.5rem;
  padding: .25rem .5rem;
  left: calc(100% - 1.65rem);
  background-color: var(--bz-sig-background-color);

  span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
  }

  &::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    mask-image: var(--bz-icon-source-code);
    background-color: currentColor;
    height: 1.15rem;
    width: 1.15rem;
  }

  &::after, &::after {
    content: "source";
    position: absolute;
    opacity: 0;
    right: 0;
    transition: opacity ease-in-out .15s, right ease-in-out .15s;
  }

  &:hover::after, &:focus::after {
    opacity: 1;
    right: 2rem;
  }

  + .headerlink {
    margin-left: -1.25rem;
    margin-right: 2rem;
  }
}

dt.sig {
  display: block;
  position: relative;
  overflow: auto;
  text-wrap: nowrap;
  border-radius: var(--bz-border-radius)!important;
  color: var(--bz-sig-color);
  font-size: var(--bz-sig-font-size);
  font-family: var(--bz-sig-font-family);
  font-weight: 600;
  padding: .3rem .5rem .4rem;
  margin: 1.25rem 0 .75rem;
  border: 1px solid var(--bz-sig-border-color);
  border-top: 8px solid color-mix(in oklab, var(--bz-sig-accent-color) 25%, transparent);
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-sig-background-color) 100%, white 1%) 0%,
    var(--bz-sig-background-color) 50%,
    color-mix(in oklab, var(--bz-sig-background-color) 100%, black 1%) 100%
  );

  dl {
    margin: 0;
    padding-left: 0 !important;
  }

  a:has(.viewcode-link) {
    opacity: 0;
    transition: opacity ease-in-out .15s;
  }

  &:hover a:has(.viewcode-link) {
    opacity: 1;
  }

  dl dd {
    padding-left: 0;

    &::before {
      content: "··";
      color: var(--bz-sig-space-color);
      margin-right: .25rem;
    }
  }
}

.sig-name {
  color: var(--bz-sig-name-color);
}

.sig .property {
  color: var(--bz-sig-property-color);
}

.sig-param, .sig-return, .sig .optional {
  font-size: .925em;
  font-style: normal;
}

.sig-param .o, .sig-return, .sig .optional {
  color: var(--bz-sig-type-color);
}

.sig-param .n {
  color: var(--bz-sig-param-color);
}

.sig-param .n:not(:first-of-type) {
  font-weight: normal;
  color: var(--bz-sig-type-color);
}

.sig-param .default_value {
  color: var(--bz-sig-default-color);
  font-weight: bold;
}

.viewcode-block:target {
  background-color: var(--bz-target-background-color);
  margin-inline: -.5rem;
  padding-inline: .5rem;
}
