div.math, span.math {
  align-items: center;
  max-width: 100%;
}

span.math {
  display: inline-flex;
}

div.math {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;

  mjx-container {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: clip;
    padding: .5rem;
  }

  mjx-assistive-mml {
    height: 0;
  }
}
