h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  border-radius: var(--bz-border-radius);
  color: var(--bz-title-color);
  font-family: var(--bz-title-font-family);
  margin-block: 1rem;

  + p {
    margin-top: 0;
  }
}

h1 {
  font-size: var(--bz-title-1-font-size);
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

h2 {
  font-size: var(--bz-title-2-font-size);
  line-height: 1.275;
  margin-top: 2.75rem;
}

h3 {
  font-size: var(--bz-title-3-font-size);
  line-height: 1.35;
  margin-top: 2.25rem;
}

h4 {
  font-size: var(--bz-title-4-font-size);
  line-height: 1.425;
  margin-top: 1.5rem;
}

h5 {
  font-size: var(--bz-title-5-font-size);
  line-height: 1.5;
}

h6 {
  font-size: var(--bz-title-6-font-size);
  line-height: 1.625;
}

strong {
  color: var(--bz-title-color);
}

p, blockquote {
  line-height: 1.6;
  margin-block: 1rem;
}

main a {
  color: var(--bz-link-color);
  text-decoration: underline;
  text-underline-offset: 4px;
  &:hover {
    color: var(--bz-link-color-hover);
    code {
      color: var(--bz-link-color-hover);
    }
  }
}

pre {
  overflow: auto;
  line-height: 1.35;
}

code, kbd:not(.compound) {
  border-radius: calc(var(--bz-border-radius) / 2);
  padding: .125rem .3rem;
}

code {
  color: var(--bz-code-color);
  font-size: var(--bz-code-font-size);
  font-family: var(--bz-code-font-family);
  border: 1px solid var(--bz-code-border-color);
  background-color: var(--bz-code-background-color);
}

kbd:not(.compound) {
  color: var(--bz-kbd-color);
  font-size: var(--bz-kbd-font-size);
  font-family: var(--bz-kbd-font-family);
  border: 1px solid var(--bz-kbd-border-color);
  background-color: var(--bz-kbd-background-color);
  border-right-width: 2px;
  border-bottom-width: 3px;
}

abbr {
  cursor: help;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid var(--bz-line-separator-color);
  margin: 1rem 0 1.5rem;
}
