div.sidebar, aside.sidebar {
  overflow-x: auto;
  margin-bottom: 1.5rem;
  border-radius: var(--bz-border-radius);
  color: var(--bz-sidebar-color);
  border: 1px solid var(--bz-sidebar-border-color);
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-sidebar-background-color) 100%, white 1%) 0%,
    var(--bz-sidebar-background-color) 50%,
    color-mix(in oklab, var(--bz-sidebar-background-color) 100%, black 1%) 100%
  );

  @media (width > 36rem) {
    width: 33.33%;
    float: right;
    clear: right;
    margin-left: 1.5rem;
  }

  > * {
    padding-inline: 1rem;

    &:is(dl, ol, ul) {
      padding-inline-start: 2rem;
    }
  }
}

.admonition.sidebar,
.topic.sidebar,
div.versionadded.sidebar,
div.versionchanged.sidebar,
div.deprecated.sidebar,
div.versionremoved.sidebar {
  margin-top: 0;
}

p.sidebar-title {
  margin: 0;
  padding-block: .5rem;
  color: var(--bz-sidebar-title-color);
  font-size: var(--bz-sidebar-title-font-size);
  font-family: var(--bz-sidebar-title-font-family);
  border-bottom: 1px solid var(--bz-sidebar-border-color);
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-sidebar-title-background-color) 100%, white 1%) 0%,
    var(--bz-sidebar-title-background-color) 50%,
    color-mix(in oklab, var(--bz-sidebar-title-background-color) 100%, black 1%) 100%
  );
}

p.sidebar-subtitle {
  color: var(--bz-sidebar-subtitle-color);
  font-size: var(--bz-sidebar-subtitle-font-size);
  font-family: var(--bz-sidebar-subtitle-font-family);
  font-weight: 300;
}

aside.topic,
div.admonition,
div.topic,
blockquote {
  clear: left;
}
