.l-site-title {
    font-family: roman;
    font-style: italic;
    font-size: x-large;
}

.profile .p-component.p-button {
    color: inherit;
}

#l-top-links>div {
    display: inline;
    vertical-align: sub;
}

#l-top-links>div a {
    padding: 5px;
    color: inherit;
}
