// Alternative styling as we're missing content-wrapper within sections at te moment.

.visually-grouped {
  width: 100%;
  min-width: 0;

  section > section {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 2rem 3rem 2rem;
    box-sizing: border-box;
  }
}

main.sidemenu > div.visually-grouped {
  padding: 0;
}
