.large{
    font-size:25px;
}

#FuzzyTask{
    font-size:30px;
    padding:12px;
}

#RelevantQuestion{
    font-weight: 100;
    font-size: 35px;
    opacity: .3;
}

.subtle{
    font-weight: 100;
    font-size:16px;
    opacity: .4;
}

.subtle:hover{
    opacity: .7;
}

#priorityTask{
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

.done{
    text-decoration-line: line-through;
    text-decoration:line-through;
    opacity: .5;
    font-weight: 100;
}

#task_rclick_menu{
    font-size: 16px;
}