/*
 Copyright 2009-2015 Luc Saffre
*/

/*
http://stackoverflow.com/questions/2106104/word-wrap-grid-cells-in-ext-js
e.g. welfare.jobs.NewJobsOverview needs
*/

/*
.x-grid3-cell-inner {
  // white-space: normal; changed from nowrap
  height:18px;
  overflow:hidden;
}
*/
