[bumpversion]
current_version = 0.14.0
commit = true
tag = true
tag_name = sdk-v{new_version}
message = Bump sdk version to {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:../../uv.lock]
search = [[package]]
	name = "orcheo-sdk"
	version = "{current_version}"
replace = [[package]]
	name = "orcheo-sdk"
	version = "{new_version}"
