.bz-announcement {
  color: var(--bz-announcement-color);
  font-size: var(--bz-announcement-font-size);
  font-family: var(--bz-announcement-font-family);
  background-color: var(--bz-announcement-background-color);
  border-bottom: 4px solid var(--bz-header-background-color);
  padding: .75rem;
  text-align: center;
}
