.bz-back-to-top {
  position: fixed;
  display: flex;
  z-index: 999;
  left: 50vw;
  bottom: -3rem;
  translate: -50%;
  align-items: center;
  text-decoration: none;
  border-radius: var(--bz-border-radius-full);
  font-size: var(--bz-back-to-top-font-size);
  font-family: var(--bz-back-to-top-font-family);
  font-weight: 500;
  color: var(--bz-back-to-top-color);
  background-color: var(--bz-back-to-top-background-color);
  border: 1px solid var(--bz-back-to-top-border-color);
  box-shadow: 0 .125rem .25rem 0 oklab(0% 0 0/.2);
  transition: background .15s ease-in-out, color .15s ease-in-out, bottom .25s ease-in-out;
  padding: .5rem 1.25rem .5rem 1rem;
  gap: .35rem;

  &:hover {
    color: var(--bz-back-to-top-color-hover);
    background-color: var(--bz-back-to-top-background-color-hover);
  }

  &.active {
    bottom: 4rem;
  }
}
