.bz-header-main {
  position: relative;
  display: flex;
  z-index: 1001;
  overflow-x: clip;
  align-items: center;
  justify-content: space-between;
  height: var(--bz-header-height);
  color: var(--bz-header-color);
  font-size: var(--bz-header-font-size);
  font-family: var(--bz-header-font-family);
  padding-inline: calc(var(--bz-page-padding) + clamp(1rem, 0.826rem + 0.87vw, 1.5rem));
  backdrop-filter: blur(.75rem) saturate(150%) brightness(1.05);
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--bz-header-background-color) 100%, white 1%) 0%,
    var(--bz-header-background-color) 50%,
    color-mix(in oklab, var(--bz-header-background-color) 100%, black 1%) 100%
  );

  > * {
    display: flex;
    align-items: center;
    gap: clamp(1.2rem, 0.922rem + 1.391vw, 2rem);
  }

  @media (width > 52rem) {
    position: sticky;
    top: 0;
  }
}

.bz-header-main .bz-header-start .bz-sidebar-primary-toggle {
  font-size: 1.5rem;
  padding: 0;
}

.bz-header-main .bz-header-end {
  > :not(:first-child)::before {
    content: "";
    top: 50%;
    width: 1px;
    height: 1em;
    display: block;
    position: absolute;
    background-color: var(--bz-header-border-color);
    margin-left: clamp(-1rem, -0.461rem + -0.696vw, -0.6rem);
    transform: translateY(-50%);
  }

  > .bz-dropdown::before {
    margin-top: -0.25rem;
  }

  .bz-sidebar-primary-toggle {
    display: none;
  }

  .bz-sidebar-primary-toggle + *::before {
    content: none;
  }
}

@media (width <= 36rem) {
  .bz-header-main {
    height: auto;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bz-header-background-color-variant);
    border-bottom: 1px solid var(--bz-header-border-color);

    .bz-header-start .bz-sidebar-primary-toggle {
      display: none;
    }

    .bz-header-end .bz-sidebar-primary-toggle {
      display: block;
      padding: 0;

      + *::before {
        content: "";
      }
    }
  }
}
