.bz-sidebar-primary {
  position: fixed;
  display: flex;
  z-index: 10001;
  visibility: hidden;
  overflow-wrap: anywhere;
  overflow-y: auto;
  flex: 0 0 auto;
  flex-direction: column;
  scrollbar-width: thin;
  max-width: 80vw;
  top: 0;
  gap: 1.5rem;
  padding: 2rem;
  height: calc(100vh + 1px);
  width: calc(var(--bz-sidebar-primary-width) + 3rem);
  left: calc((var(--bz-sidebar-primary-width) + 3rem) * -1);
  font-size: var(--bz-sidebar-primary-font-size);
  font-family: var(--bz-sidebar-primary-font-family);
  background-color: var(--bz-sidebar-primary-drawer-background-color);
  border-right: 1px solid var(--bz-sidebar-primary-border-color);
  transition: left linear 0.2s, visibility linear 0.2s;
  backdrop-filter: blur(.5rem) saturate(150%) brightness(1.05);

  > * {
    padding-right: 2rem;
    padding-left: 3px;
  }

  @media (width > 52rem) {
    position: sticky;
    backdrop-filter: none;
    z-index: auto;
    height: auto;
    padding: 0;
    visibility: visible;
    align-self: stretch;
    max-height: calc(100vh - var(--bz-header-height));
    padding-bottom: var(--bz-header-tabs-height);
    width: var(--bz-sidebar-primary-width);
    top: calc(var(--bz-header-height) - 1rem);
    background: none;

    > :first-child {
      padding-top: 3rem;
    }

    > :last-child {
      padding-bottom: 1rem;
    }
  }
}

#bz-sidebar-primary {
  display: none;
}

:has(#bz-sidebar-primary:checked) {
  .bz-sidebar-primary {
    visibility: visible;
    left: 0;
  }

  .bz-overlay-primary {
    visibility: visible;
    opacity: 1;
  }
}
