.bz-sidebar-secondary {
  position: fixed;
  display: block;
  z-index: 10001;
  visibility: hidden;
  scrollbar-width: thin;
  overflow-wrap: anywhere;
  overflow-y: auto;
  max-width: 80vw;
  top: 0;
  padding: 2rem;
  height: calc(100vh + 1px);
  width: calc(var(--bz-sidebar-secondary-width) + 3rem);
  right: calc((var(--bz-sidebar-secondary-width) + 3rem) * -1);
  font-size: var(--bz-sidebar-secondary-font-size);
  font-family: var(--bz-sidebar-secondary-font-family);
  border-left: 1px solid var(--bz-sidebar-secondary-border-color);
  background-color: var(--bz-sidebar-secondary-drawer-background-color);
  transition: right linear 0.2s, visibility linear 0.2s;
  backdrop-filter: blur(.5rem) saturate(150%) brightness(1.05);

  > *:not(:last-child) {
    padding-bottom: 2rem;
  }

  @media (width > 75rem) {
    position: sticky;
    backdrop-filter: none;
    z-index: auto;
    height: auto;
    padding: 0;
    visibility: visible;
    align-self: stretch;
    max-height: calc(100vh - var(--bz-header-height) - 4rem);
    width: var(--bz-sidebar-secondary-width);
    top: calc(var(--bz-header-height) + 2rem);
    border-left: none;
    background: none;

    > * {
      border-left: 1px solid var(--bz-sidebar-secondary-border-color);
      padding-inline: 2rem;
    }

    > .bz-sidebar-toc {
      padding-right: 3px;
    }

    > * > :first-child {
      margin-top: 0!important;
    }
  }
}

#bz-sidebar-secondary {
  display: none;
}

:has(#bz-sidebar-secondary:checked) {
  .bz-sidebar-secondary {
    visibility: visible;
    right: 0;
  }

  .bz-overlay-secondary {
    visibility: visible;
    opacity: 1;
  }
}
