.bz-skip-to-content {
  position: fixed;
  display: flex;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  height: var(--bz-header-height);
  font-size: var(--bz-skip-to-content-font-size);
  font-family: var(--bz-skip-to-content-font-family);
  background-color: var(--bz-skip-to-content-background-color);
  transition: transform .15s ease-in-out;

  a {
    display: inline-block;
    color: var(--bz-skip-to-content-color);
    padding: .25rem;
    text-decoration: none;
  }

  &:focus-within {
    transform: translateY(0%);
  }
}
