h1 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
}
h2 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
}
h3 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0;
}
h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0;
}
h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
}
h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0;
}

ul li {
  padding-left: 28px;
}

ul li::before{
  color: #aaa;
  content: "\2022";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-weight: bold;
}

.dataframe {
  font-size: 0.9em;
  border-style: solid;
  border-width: thin;
  border-color: Black;
}

.dataframe thead {
    background-color: SlateGrey;
    color: White;
}

.dataframe td,th {
    padding: 5px 5px;
    border-style: solid;
    border-width: thin;
    border-color: Black;
}
.dataframe tbody tr th:first-child, thead tr th:first-child {
}
.dataframe tbody tr {
    height: 1em;
}
.print-only {
    display: none;
}
@media print {
    .no-print {
        display: none;
    }
    .print-only {
        display: inline;
    }
    .report-block {
        page-break-inside:avoid
    }
    a {
        page-break-inside:avoid
    }
    blockquote, p {
        page-break-inside: avoid;
    }
    h1, h2, h3, h4, h5, h6 {
        page-break-after:avoid;
        page-break-inside:avoid
    }
    img {
        page-break-inside:avoid;
        page-break-after:avoid;
    }
    table, pre {
        page-break-inside:avoid
    }

    ul, ol, dl  {
        page-break-before:avoid
    }
    a:link, a:visited, a {
        background: transparent;
        color: #520;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }
    a {
        page-break-inside:avoid
    }
    a[href^=http]:after {
        content:" <" attr(href) "> ";
    }
    a:after > img {
        content: "";
    }
    article a[href^="#"]:after {
        content: "";
    }
    a:not(:local-link):after {
        content:" <" attr(href) "> ";
    }
    /* Set font to 16px/13pt, set background to white and font to black.*/
    /* This saves ink */
    body {
        background: white;
        font-size: 15pt;
    }
    table {
        border:solid #000 !important;
        border-width:1px 0 0 1px !important;
    }
    th, td {
        border:solid #000 !important;
        border-width:0 1px 1px 0 !important;
    }
}
