
.context-menu[data-v-706aef9a] {
  position: fixed;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: var(--color-background-primary);
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.context-menu ul[data-v-706aef9a] {
  list-style: none;
  padding: 0;
  margin: 0;
}
.context-menu li[data-v-706aef9a] {
  padding: 8px 16px;
  cursor: pointer;
}
.context-menu li[data-v-706aef9a]:hover {
  background-color: #f0f0f0;
}
