
.context-menu[data-v-531e69c7] {
  position: fixed;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: var(--color-background-primary);
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.context-menu ul[data-v-531e69c7] {
  list-style: none;
  padding: 0;
  margin: 0;
}
.context-menu li[data-v-531e69c7] {
  padding: 8px 16px;
  cursor: pointer;
}
.context-menu li[data-v-531e69c7]:hover {
  background-color: #f0f0f0;
}
.switch-container[data-v-531e69c7] {
  display: flex;
  align-items: center;
  margin: 12px;
}
.switch-container span[data-v-531e69c7] {
  margin-right: 10px;
}
