/* Beware: Safari does not handle well relative paths in CSS vars.
   See https://bugs.webkit.org/show_bug.cgi?id=190807 for reference. */
:root {
    --font-family: 'averiaseriflibre-light-custom';
    --font-family-headers: 'averialibre-bold-custom';
    --body-background: #fff;
    --body-color: #432c2c;

    --logo-position: no-repeat left center/100%;
    --logo-url: url("./img/pressoir-logo.png");
    --small-logo-url: url("./svg/pum-logo-couleur.svg");

    --balloon-color: #686868;
    --balloon-color-font: #e9ecef;
    --balloon-font-size: .9rem;

    --termeenrichi-background-image: url("./svg/plus.svg");
    --termeenrichi-background-image-expanded: url("./svg/minus.svg");

    --header-background-color: #eaeaea;
    --header-border-color: #f00;
    --header-color: #000;
    --header-dropdown-background: 99% center no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'/></svg>");

    --toc-border-color: #b3b3b3;
    --toc-border-active-color: #000;

    --contenuadd-border-color: #b3b3b3;
    --contenuadd-background: #eaeaea;

    --footer-background-color: #eaeaea;
    --footer-border-color: #f00;
}
