:root {
  --bz-color-black: oklch(0.05 0 0);
  --bz-color-blue: oklch(0.565 0.15 265);
  --bz-color-brown: oklch(0.525 0.09 65);
  --bz-color-cyan: oklch(0.55 0.13 225);
  --bz-color-gray: oklch(0.55 0.005 265);
  --bz-color-green: oklch(0.55 0.15 145);
  --bz-color-magenta: oklch(0.575 0.15 335);
  --bz-color-orange: oklch(.565 0.25 80);
  --bz-color-purple: oklch(0.55 0.15 300);
  --bz-color-red: oklch(0.585 0.2 25);
  --bz-color-white: oklch(0.95 0 0);
  --bz-color-yellow: oklch(0.68 0.15 85);

  --bz-color-code: oklch(0.45 0.175 335);
  --bz-color-outline: oklch(0.6 0.01 264 / 0.2);
  --bz-color-surface: oklch(0.975 0 0);
  --bz-color-shadow: oklch(0 0 0 / 0.02);
  --bz-color-text: oklch(0.075 0.005 265);
  --bz-color-muted: oklch(0.425 0.005 265);
  --bz-color-target: oklch(0.9 0.035 75);

  --bz-color-primary: var(--bz-color-blue);
  --bz-color-secondary: var(--bz-color-purple);
}

:root[data-theme=dark] {
  --bz-color-code: oklch(0.9 0.075 335);
  --bz-color-surface: oklch(0.22 0.014 265);
  --bz-color-shadow: oklch(0.1 0.02 265 / 0.1);
  --bz-color-text: oklch(0.9 0.005 265);
  --bz-color-muted: oklch(0.775 0.005 265);
  --bz-color-target: oklch(0.4 0.0125 75);
}

:root {
  --bz-color-black-1: oklch(from var(--bz-color-black) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-black-2: oklch(from var(--bz-color-black) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-black-3: var(--bz-color-black);
  --bz-color-black-4: oklch(from var(--bz-color-black) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-black-5: oklch(from var(--bz-color-black) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-blue-1: oklch(from var(--bz-color-blue) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-blue-2: oklch(from var(--bz-color-blue) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-blue-3: var(--bz-color-blue);
  --bz-color-blue-4: oklch(from var(--bz-color-blue) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-blue-5: oklch(from var(--bz-color-blue) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-brown-1: oklch(from var(--bz-color-brown) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-brown-2: oklch(from var(--bz-color-brown) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-brown-3: var(--bz-color-brown);
  --bz-color-brown-4: oklch(from var(--bz-color-brown) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-brown-5: oklch(from var(--bz-color-brown) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-cyan-1: oklch(from var(--bz-color-cyan) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-cyan-2: oklch(from var(--bz-color-cyan) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-cyan-3: var(--bz-color-cyan);
  --bz-color-cyan-4: oklch(from var(--bz-color-cyan) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-cyan-5: oklch(from var(--bz-color-cyan) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-gray-1: oklch(from var(--bz-color-gray) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-gray-2: oklch(from var(--bz-color-gray) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-gray-3: var(--bz-color-gray);
  --bz-color-gray-4: oklch(from var(--bz-color-gray) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-gray-5: oklch(from var(--bz-color-gray) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-green-1: oklch(from var(--bz-color-green) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-green-2: oklch(from var(--bz-color-green) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-green-3: var(--bz-color-green);
  --bz-color-green-4: oklch(from var(--bz-color-green) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-green-5: oklch(from var(--bz-color-green) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-magenta-1: oklch(from var(--bz-color-magenta) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-magenta-2: oklch(from var(--bz-color-magenta) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-magenta-3: var(--bz-color-magenta);
  --bz-color-magenta-4: oklch(from var(--bz-color-magenta) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-magenta-5: oklch(from var(--bz-color-magenta) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-orange-1: oklch(from var(--bz-color-orange) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-orange-2: oklch(from var(--bz-color-orange) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-orange-3: var(--bz-color-orange);
  --bz-color-orange-4: oklch(from var(--bz-color-orange) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-orange-5: oklch(from var(--bz-color-orange) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-purple-1: oklch(from var(--bz-color-purple) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-purple-2: oklch(from var(--bz-color-purple) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-purple-3: var(--bz-color-purple);
  --bz-color-purple-4: oklch(from var(--bz-color-purple) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-purple-5: oklch(from var(--bz-color-purple) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-red-1: oklch(from var(--bz-color-red) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-red-2: oklch(from var(--bz-color-red) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-red-3: var(--bz-color-red);
  --bz-color-red-4: oklch(from var(--bz-color-red) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-red-5: oklch(from var(--bz-color-red) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-white-1: oklch(from var(--bz-color-white) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-white-2: oklch(from var(--bz-color-white) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-white-3: var(--bz-color-white);
  --bz-color-white-4: oklch(from var(--bz-color-white) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-white-5: oklch(from var(--bz-color-white) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-yellow-1: oklch(from var(--bz-color-yellow) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-yellow-2: oklch(from var(--bz-color-yellow) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-yellow-3: var(--bz-color-yellow);
  --bz-color-yellow-4: oklch(from var(--bz-color-yellow) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-yellow-5: oklch(from var(--bz-color-yellow) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-surface-1: oklch(from var(--bz-color-surface) calc(l - 0.045) calc(c - 0.005) h);
  --bz-color-surface-2: oklch(from var(--bz-color-surface) calc(l - 0.0225) calc(c - 0.0025) h);
  --bz-color-surface-3: var(--bz-color-surface);
  --bz-color-surface-4: oklch(from var(--bz-color-surface) calc(l + 0.0225) calc(c + 0.0025) h);
  --bz-color-surface-5: oklch(from var(--bz-color-surface) calc(l + 0.045) calc(c + 0.005) h);

  --bz-color-primary-1: oklch(from var(--bz-color-primary) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-primary-2: oklch(from var(--bz-color-primary) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-primary-3: var(--bz-color-primary);
  --bz-color-primary-4: oklch(from var(--bz-color-primary) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-primary-5: oklch(from var(--bz-color-primary) calc(l + 0.06) calc(c + 0.005) h);

  --bz-color-secondary-1: oklch(from var(--bz-color-secondary) calc(l - 0.06) calc(c - 0.005) h);
  --bz-color-secondary-2: oklch(from var(--bz-color-secondary) calc(l - 0.03) calc(c - 0.0025) h);
  --bz-color-secondary-3: var(--bz-color-secondary);
  --bz-color-secondary-4: oklch(from var(--bz-color-secondary) calc(l + 0.03) calc(c + 0.0025) h);
  --bz-color-secondary-5: oklch(from var(--bz-color-secondary) calc(l + 0.06) calc(c + 0.005) h);
}
