[COMPLEXITY_CATEGORY]
SIMPLE={MAX_TRANSFORMATIONS => 5, MANUAL_CONVERSION_HOURS => 4, AUTOMATED_HOURS => 0.2}
MEDIUM={MAX_TRANSFORMATIONS => 9, MANUAL_CONVERSION_HOURS => 8, AUTOMATED_HOURS => 0.4}
HIGH={MAX_TRANSFORMATIONS => 25, MANUAL_CONVERSION_HOURS => 24, AUTOMATED_HOURS => 1.2}
VERY_HIGH={MAX_TRANSFORMATIONS => 20000, MANUAL_CONVERSION_HOURS => 80, AUTOMATED_HOURS => 3.5}

[GENERAL]
MANUAL_HOURLY_RATE=50
HOURLY_RATE_UNIT=$
DEFAULT_SYSTEM_TYPE=UNKNOWN_SYSTYPE

[TOKEN_SUBSTITUTION]
SYSDATE=GET_CURRENT_DATETIME()
IIF=IF
SUBSTR=SUBSTRING


[EXPRESSION_FUNCTION_CALL_THRESHOLDS]
#up to specified # of function calls
NUMBER_OF_THRESHOLDS=2
THRESHOLD_1=4
THRESHOLD_2=10000
#THRESHOLD_3=4
#THRESHOLD_4=7
#THRESHOLD_5=15
#THRESHOLD_6=30
#THRESHOLD_7=10000


[SYSTEM_NAME_SUBSTITUTION]
#PM={NAME => 'ProductMaster',TYPE=>'MSSQL'}
#Microsoft_SQL_Server={NAME => 'ProductReference',TYPE=>'MSSQL'}
#TARGET_SYSTEM={NAME => 'EDW',TYPE=>'ORACLE'}
#OMG={NAME => 'OMG',TYPE=>'MySQL'}
#EDW_SQL_SERVER={NAME => 'EDW_SQL_SERVER',TYPE=>'TERADATA'}
#MQSeries={NAME => 'MQSeries',TYPE=>'MQSERIES'}

[SYS_TYPE_CONF]
MSOLEDB=MSOLEDB
ODBC=ODBC
ORACLE=ORACLE
SYBASE=SYBASE
FILE=FLATFILE
FLAT FILE=FLATFILE
FLATFILE=FLATFILE
FLAT_FILE=FLATFILE
FILE WRITER=FLATFILE
File Writer=FLATFILE
NETEZZA=NETEZZA
FLAT FILE=FLATFILE
MICROSOFT SQL SERVER=MSSQL
Microsoft SQL Server=MSSQL
SALESFORCE=SALESFORCE
VERTICA=VERTICA
DB2=DB2
TERADATA=TERADATA
XML=XML
VSAM=VSAM

[NODE_TYPE_TRANSLATION]
Aggregator=AGGREGATOR
Expression=TRANSFORMATION
Filter=FILTER/TRANSFORMATION
Input Transformation=JOBLET_INPUT
Joiner Transformation=JOINER/TRANSFORMATION
Lookup Procedure=TRANSFORMATION
Mapplet=JOBLET
Normalizer=TRANSFORMATION
Output Transformation=JOBLET_OUTPUT
Rank=RANK
Router=ROUTER/TRANSFORMATION
Sequence=SEQUENCE
Sorter=SORTER
Source Definition=SOURCE
Source Qualifier=SOURCE/TRANSFORMATION
Application Source Qualifier=SOURCE/TRANSFORMATION
App Multi-Group Source Qualifier=SOURCE/TRANSFORMATION
Target Definition=TARGET
Union=UNION
Union Transformation=UNION
WebServices Consumer=WEB_SERVICE
Command=COMMAND
Email=EMAIL
SQL Transform=SQL_TRANSFORM/TRANSFORMATION
Session=SUBJOB
Start=START
Update Strategy=TRANSFORMATION
Joiner=JOINER/TRANSFORMATION
Stored Procedure=TRANSFORMATION
Java Transformation=JAVA_TRANSFORMATION

[NODE_TYPE_LEVEL]
_DEFAULT=Transformation
Aggregator=Transformation
Assignment=Orchestration
Command=Orchestration
Control=Orchestration
Decision=Orchestration
Email=Orchestration
Event Raise=Orchestration
Event Wait=Orchestration
Expression=Transformation
Filter=Transformation
Input Transformation=Transformation
Java Transformation=Transformation
Joiner=Transformation
Lookup Procedure=Transformation
Mapplet=Transformation
Output Transformation=Transformation
Rank=Transformation
Router=Transformation
SQL Transform=Transformation
Sequence=Transformation
Session=Orchestration
Sorter=Transformation
Source Definition=Transformation
Source Qualifier=Transformation
Application Source Qualifier=Transformation
App Multi-Group Source Qualifier=Transformation
Start=Orchestration
Stored Procedure=Transformation
Target Definition=Transformation
Timer=Orchestration
Transaction Control=Transformation
Union Transformation=Transformation
Update Strategy=Transformation
WebServices Consumer=Transformation
Worklet=Orchestration
