
.parquet-table-settings[data-v-25b5bc22] {
  background: var(--color-background-secondary);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  text-align: center; /* Center the text */
}
.message h2[data-v-25b5bc22] {
  font-size: 24px;
  color: #3498db;
  margin-bottom: 10px;
}
.message p[data-v-25b5bc22] {
  font-size: 16px;
  color: var(--color-text-primary);
}
