[bumpversion]
current_version = 6.0.0
commit = True
tag = True
tag_name = v{new_version}
message = Bump version to {new_version} [skip ci]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:neuracore_types/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
