.related {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid #f3f3f3;
}

.previous {
  display: inline-block;
  text-align: left;
}

.next {
  display: inline-block;
  text-align: right;
}

nav.pagination {
  display: contents;
}
