QMenu {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 5px;
}

QMenu::item {
    font-size: 15px;
    padding: 8px 20px 8px 20px;
}

QMenu::icon {
    padding: 8px;
}

QMenu::item:selected {
    border-radius: 5px;
    background-color: rgba(50, 50, 50, 0.7);
}
