figure {
  display: flex;
  flex-flow: column;
  gap: .5rem;
}

figure > a,
figure > a > img,
figure > img,
figure > video {
  margin-inline: auto;
}

figure figcaption > p,
figure figcaption .legend > p {
  color: var(--bz-figure-caption-color);
  font-size: var(--bz-figure-caption-font-size);
  font-family: var(--bz-figure-caption-font-family);

  &:first-child {
    margin-top: 0;
  }
}

figure figcaption a.headerlink {
  text-decoration: none;
}

figure figcaption p {
  display: inline-block;
  text-align: start;
}
