article {
  dl, ol, ul {
    margin-top: .75rem;
    margin-bottom: 1.5rem;
  }

  ul, ol {
    padding-inline-start: 1.25rem;
  }

  :is(ul, ol) :is(ul, ol) {
    margin-top: .25rem;
    margin-bottom: .5rem;
    padding-inline-start: 1.25rem;
  }

  ul {
    list-style: disc;
  }

  ul > li > ul {
    list-style: circle;
  }

  ul > li > ul > li > ul {
    list-style: square;
  }

  li {
    padding-left: .125rem;
  }

  li::marker {
    color: var(--bz-list-marker-color);
    font-size: var(--bz-list-marker-font-size);
    font-family: var(--bz-list-marker-font-family);
  }

  li > p {
    line-height: 1.4;
    margin-top: .5rem;
    margin-bottom: .75rem;
  }

  li > p:last-child {
    margin-top: .25rem;
  }

  li > p:first-child {
    margin-block: .25rem;
  }

  ol.arabic {
    list-style: decimal;
  }

  ol.loweralpha {
    list-style: lower-alpha;
  }

  ol.upperalpha {
    list-style: upper-alpha;
  }

  ol.lowerroman {
    list-style: lower-roman;
  }

  ol.upperroman {
    list-style: upper-roman;
  }

  dt {
    font-weight: 500;

    &:has(kbd) {
      padding-bottom: .125rem;
    }
  }

  dd {
    padding-left: 1.5rem;
  }

  dd > p {
    line-height: 1.4;
    margin-block: .5rem;
  }

  dd > :first-child {
    margin-top: .25rem;
  }

  dd > :last-child {
    margin-bottom: .75rem;
  }

  dl dt .classifier:before {
    content: ":";
    margin-inline: .25rem;
  }

  .hlist tr {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }
}
