img, figure, object, .figure {
  display: inline-block;
  margin-block: .5rem;

  &.align-left {
    clear: left;
    float: left;
    margin-right: 1rem;
  }

  &.align-right {
    clear: right;
    float: right;
    margin-left: 1rem;
  }

  img, figure, object, .figure {
    margin-block: 0;
  }
}

.reference img {
  vertical-align: middle;
  display: inline-block;
}

[class^="toctree-"] a.reference.external:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  mask-image: var(--bz-icon-external-link);
  background-color: currentColor;
  opacity: 0.5;
  width: 1rem;
  height: 1rem;
  margin-top: -.25rem;
  margin-left: .325rem;
}

.guilabel {
  font-size: 0.8em;
  font-weight: 500;
  border-radius: calc(var(--bz-border-radius) / 2);
  color: var(--bz-guilabel-color);
  border: 1px solid var(--bz-guilabel-border-color);
  background-color: var(--bz-guilabel-background-color);
  padding: .125rem .3rem;
}

p.rubric {
  color: var(--bz-rubric-color);
  font-size: var(--bz-rubric-font-size);
  font-family: var(--bz-rubric-font-family);
  border-bottom: 1px solid var(--bz-rubric-border-color);
  margin-top: 1.5rem;
}

a.reference.download::before {
  content: "";
  mask-image: var(--bz-icon-download);
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
  height: 1.25rem;
  width: 1.25rem;
}

span.highlighted {
  background-color: var(--bz-target-background-color);
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
