.toctree-wrapper .caption {
  font-weight: 300;
  line-height: 1.25;
  border-radius: var(--bz-border-radius);
  color: var(--bz-toctree-caption-color);
  font-size: var(--bz-toctree-caption-font-size);
  font-family: var(--bz-toctree-caption-font-family);
  margin-block: 2rem 1rem;
}
