.l-bbar .hidden{
    opacity: 0;
}
.p-inputtext.p-component {
    padding: 0.3rem 0.3rem;
}
.p-component.p-button {
    color: var(--text-color);
    border: 0;
    padding: 0.3rem 0.3rem;
    vertical-align: middle;
    font-size: 0.85rem;
}
.p-togglebutton .p-button .p-button-icon-left {
    color: var(--text-color);
}
.p-component.p-button:not(.p-highlight) {
    background: transparent;
}
.p-component.p-button.p-button-icon-only {
    width: 1.6rem;
    padding: 0.3rem;
}
.p-button.p-button-icon-only .pi {
    font-size: 0.85rem;
}
.p-splitbutton.p-component {
    vertical-align: middle;
}
.p-progress-spinner .p-progress-spinner-circle {
    stroke-linecap: butt;
}
