.bz-lang-switcher {
  button {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: var(--bz-border-radius);
    padding-inline: 0;
    background: none;
    border: none;
    gap: 0.25rem;
    color: var(--bz-lang-switcher-color);
    font-size: var(--bz-lang-switcher-font-size);
    transition: color 0.1s ease-in-out;

    &::after {
      content: "";
      display: block;
      width: .9rem;
      height: .9rem;
      transform: rotate(90deg);
      background-color: currentColor;
      mask-image: var(--bz-icon-chevron);
    }
  }

  &:hover button {
    color: var(--bz-lang-switcher-color-hover);
  }

  ul {
    right: -1rem;
  }
}
