.bz-search-button {
  position: relative;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.35rem;
    padding-block: .2rem;
    color: var(--bz-search-button-color);
    font-size: var(--bz-search-button-font-size);
    font-family: var(--bz-search-button-font-family);
    border: 0 solid var(--bz-search-button-border-color);
    border-radius: var(--bz-border-radius-full);

    &:hover {
      border-color: var(--bz-search-button-border-color-hover);
    }
  }

  span {
    display: none;
    font-size: 0.9em;
  }

  kbd {
    display: none;
    color: var(--bz-search-button-kbd-color);
    font-size: 0.7em;
    font-family: var(--bz-search-button-kbd-font-family);
    border: 1px solid var(--bz-search-button-kbd-border-color);
    background-color: var(--bz-search-button-kbd-background-color);
    padding-inline: .3rem;
    border-bottom-width: 3px;
    border-right-width: 2px;
    border-radius: calc(var(--bz-border-radius) / 2);
    margin-left: 0.75rem;
    opacity: 0.65;
  }

  @media (width > 48rem) {
    a {
      border-width: 1px;
      background-color: var(--bz-search-button-background-color);
      transition: border-color 0.1s ease-in-out;
      padding-inline: 0.6rem;
    }

    span, kbd {
      display: block;
    }
  }
}
