
.selectors-row[data-v-789bbdab] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Spacing between rows */
}
.context-menu[data-v-789bbdab] {
  position: fixed;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: var(--color-background-primary);
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  user-select: none;
}
.context-menu button[data-v-789bbdab] {
  display: block;
  background: none;
  border: none;
  padding: 4px 8px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  z-index: 100;
}
.context-menu button[data-v-789bbdab]:hover {
  background-color: #f0f0f0;
}
.table-wrapper[data-v-789bbdab] {
  max-height: 250px; /* Adjust this value as needed */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
  border-radius: 8px; /* rounded corners */
  overflow: auto; /* ensures the rounded corners are applied to the child elements */
  margin: 5px; /* adds a small margin around the table */
}
.context-menu[data-v-789bbdab] {
  position: fixed;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: var(--color-background-primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.context-menu ul[data-v-789bbdab] {
  list-style: none;
  padding: 0;
  margin: 0;
}
.context-menu li[data-v-789bbdab] {
  padding: 8px 16px;
  cursor: pointer;
}
.context-menu li[data-v-789bbdab]:hover {
  background-color: #f0f0f0;
}
.selectors-container[data-v-789bbdab] {
  display: flex;
  flex-direction: column;
}
.selectors-row[data-v-789bbdab] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-button-container[data-v-789bbdab] {
  padding-left: 20px; /* Adjust as needed */
  display: flex;
  align-items: center;
}
.action-buttons[data-v-789bbdab] {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Adjust if needed */
}
.remove-join-button[data-v-789bbdab],
.add-join-button[data-v-789bbdab] {
  cursor: pointer;
  margin-left: 10px; /* Space between buttons */
  padding: 0 6px; /* Adjust padding */
  height: 20px; /* Adjust height to fit */
  width: 30px; /* Ensure equal width for both buttons */
  min-width: 30px; /* Minimum width to ensure buttons don't shrink */
  text-align: center; /* Ensure the symbols are centered */
}
.selectors-header[data-v-789bbdab] {
  display: flex;
  justify-content: space-between;
  padding: 0 15px; /* Adjust padding for finer control */
}
.selectors-title[data-v-789bbdab] {
  flex: 1; /* Adjust this based on your needs */
  text-align: center; /* Center the titles */
  padding: 0 10px; /* Add padding to ensure alignment with the columns below */
}
.action-buttons[data-v-789bbdab] {
  flex-basis: 60px; /* Adjust according to the width of your buttons */
  display: flex;
  justify-content: center; /* Center the buttons within the action column */
}
