
.excel-table-settings[data-v-5d1c6e86] {
  width: 100%;
  max-width: 600px; /* Set a maximum width for better layout */
  margin: auto; /* Center align the form */
}
.excel-table-settings label[data-v-5d1c6e86] {
  display: block;
  margin-bottom: 10px;
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 500;
}
.excel-table-settings input[type="text"][data-v-5d1c6e86],
.excel-table-settings input[type="number"][data-v-5d1c6e86] {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: var(--color-text-primary);
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}
.excel-table-settings input[type="text"][data-v-5d1c6e86]:hover,
.excel-table-settings input[type="number"][data-v-5d1c6e86]:hover {
  background-color: #e4e4e4;
}
.excel-table-settings .checkbox-container[data-v-5d1c6e86] {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.excel-table-settings .checkbox-label[data-v-5d1c6e86] {
  margin-left: 10px;
  font-size: 16px;
}
.excel-table-settings input[type="checkbox"][data-v-5d1c6e86] {
  accent-color: var(--color-text-primary); /* Customize the checkbox color */
}
.excel-table-settings button[data-v-5d1c6e86] {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-primary);
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Additional spacing above the button */
}
.excel-table-settings button[data-v-5d1c6e86]:hover {
  background-color: #e4e4e4;
}
.optional-section[data-v-5d1c6e86] {
  margin-top: 20px;
}
.row-inputs[data-v-5d1c6e86] {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-group[data-v-5d1c6e86] {
  display: flex;
  flex-direction: column;
  flex-basis: 48%; /* Adjusts the width of each group */
}
.input-group label[data-v-5d1c6e86] {
  margin-bottom: 5px;
}
.input-group input[type="number"][data-v-5d1c6e86] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.section-divider[data-v-5d1c6e86] {
  border: none;
  height: 1px;
  background-color: #999999; /* Color of the divider */
  margin: 20px 0; /* Spacing around the divider */
}
.checkbox-row[data-v-5d1c6e86] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.checkbox-group[data-v-5d1c6e86] {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.checkbox-group label[data-v-5d1c6e86] {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
.checkbox-group input[type="checkbox"][data-v-5d1c6e86] {
  accent-color: var(--color-text-primary); /* Customize the checkbox color */
}
