
.items-container[data-v-b9db7ed5] {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between items */
}
.item-box[data-v-b9db7ed5] {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 12px; /* Font size set to 12px */
  position: relative;
}
.remove-btn[data-v-b9db7ed5] {
  margin-left: 8px;
  cursor: pointer;
  color: var(--color-text-secondary);
  font-weight: bold;
}
