:root {
  --copybtn-color: var(--bz-color-text);
  --copybtn-border-color: var(--bz-color-outline);
  --copybtn-background-color: var(--bz-color-surface-4);
  --copybtn-background-color-hover: var(--bz-color-surface-2);
}

button.copybtn {
  color: var(--copybtn-color);
  border-color: var(--copybtn-border-color);
  background-color: var(--copybtn-background-color);
  top: .5rem;
  right: .5rem;
}

.highlight button.copybtn:hover {
  background-color: var(--copybtn-background-color-hover);
}

.o-tooltip--left:focus-visible {
  opacity: 1;
  outline: auto;
}

.o-tooltip--left:after {
  top: 0;
  color: var(--bz-tooltip-color);
  border-color: var(--bz-tooltip-border-color);
  background-color: var(--bz-tooltip-background-color);
  padding-inline: .5rem;
  translate: -.25rem;
}
