:root {
  --sd-color-primary: var(--bz-color-primary);
  --sd-color-secondary: var(--bz-color-secondary);
  --sd-color-success: var(--bz-color-green);
  --sd-color-info: var(--bz-color-cyan);
  --sd-color-warning: var(--bz-color-orange);
  --sd-color-danger: var(--bz-color-red);
  --sd-color-muted: var(--bz-color-gray);

  --sd-color-primary-outline: var(--bz-color-primary-1);
  --sd-color-secondary-outline: var(--bz-color-secondary-1);
  --sd-color-success-outline: var(--bz-color-green-1);
  --sd-color-info-outline: var(--bz-color-cyan-1);
  --sd-color-warning-outline: var(--bz-color-orange-1);
  --sd-color-danger-outline: var(--bz-color-red-1);
  --sd-color-muted-outline: var(--bz-color-gray-1);

  --sd-color-primary-highlight: var(--bz-color-primary-1);
  --sd-color-secondary-highlight: var(--bz-color-secondary-1);
  --sd-color-success-highlight: var(--bz-color-green-1);
  --sd-color-info-highlight: var(--bz-color-cyan-1);
  --sd-color-warning-highlight: var(--bz-color-orange-1);
  --sd-color-danger-highlight: var(--bz-color-red-1);
  --sd-color-muted-highlight: var(--bz-color-gray-1);

  --sd-color-primary-text: var(--bz-color-white-5);
  --sd-color-secondary-text: var(--bz-color-white-5);
  --sd-color-success-text: var(--bz-color-white-5);
  --sd-color-info-text: var(--bz-color-white-5);
  --sd-color-warning-text: var(--bz-color-white-5);
  --sd-color-danger-text: var(--bz-color-white-5);
  --sd-color-muted-text: var(--bz-color-white-5);

  --sd-color-card-background: var(--bz-topic-background-color);
  --sd-color-card-border-hover: var(--bz-color-primary);
  --sd-color-card-border: var(--bz-topic-border-color);

  --sd-color-tabs-border: color-mix(in oklab, var(--bz-color-primary) 20%, #88888822);
  --sd-color-tabs-label-active: var(--bz-color-primary-1);
  --sd-color-tabs-label-inactive: var(--bz-color-muted);
  --sd-color-tabs-label-hover: var(--bz-color-primary-5);
  --sd-color-tabs-background: var(--bz-color-surface-1);
  --sd-color-tabs-background-active: color-mix(in oklab, var(--bz-color-surface-2), var(--bz-color-surface-3));

  --sd-fontsize-dropdown: var(--bz-topic-font-size);
  --sd-fontsize-dropdown-title: var(--bz-topic-font-size);
}

:root[data-theme=dark] {
  --sd-color-primary-outline: var(--bz-color-primary-5);
  --sd-color-secondary-outline: var(--bz-color-secondary-5);
  --sd-color-success-outline: var(--bz-color-green-5);
  --sd-color-info-outline: var(--bz-color-cyan-5);
  --sd-color-warning-outline: var(--bz-color-orange-5);
  --sd-color-danger-outline: var(--bz-color-red-5);
  --sd-color-muted-outline: var(--bz-color-gray-5);

  --sd-color-tabs-label-active: var(--bz-color-primary-5);
  --sd-color-tabs-background: var(--bz-color-surface-3);
  --sd-color-tabs-background-active: color-mix(in oklab, var(--bz-color-surface-1), var(--bz-color-surface-2));
}

.sd-btn:not([class*="outline"]), .sd-badge:not([class*="outline"]) {
  border: 1px solid var(--bz-color-outline);
  background-color: var(--bz-color-surface-5);
}

.sd-outline-primary, .sd-btn-outline-primary {
  color: var(--sd-color-primary-outline)!important;
  border-color: var(--sd-color-primary-outline)!important;
}

.sd-outline-secondary, .sd-btn-outline-secondary {
  color: var(--sd-color-secondary-outline)!important;
  border-color: var(--sd-color-secondary-outline)!important;
}

.sd-outline-success, .sd-btn-outline-success {
  color: var(--sd-color-success-outline)!important;
  border-color: var(--sd-color-success-outline)!important;
}

.sd-outline-info, .sd-btn-outline-info {
  color: var(--sd-color-info-outline)!important;
  border-color: var(--sd-color-info-outline)!important;
}

.sd-outline-warning, .sd-btn-outline-warning {
  color: var(--sd-color-warning-outline)!important;
  border-color: var(--sd-color-warning-outline)!important;
}

.sd-outline-danger, .sd-btn-outline-danger {
  color: var(--sd-color-danger-outline)!important;
  border-color: var(--sd-color-danger-outline)!important;
}

.sd-outline-muted, .sd-btn-outline-muted {
  color: var(--sd-color-muted-outline)!important;
  border-color: var(--sd-color-muted-outline)!important;
}


.sd-shadow-sm {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow) !important;
}

.sd-shadow-md {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    0 16px 16px var(--bz-color-shadow) !important;
}

.sd-shadow-lg {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    0 16px 16px var(--bz-color-shadow),
    0 32px 32px var(--bz-color-shadow) !important;
}

article .sd-tab-set {
  > input {
    &:checked + label {
      text-shadow: .001em 0 0 currentColor, -.001em 0 0 currentColor;
      background-color: var(--sd-color-tabs-background-active);
      border: 1px solid var(--sd-color-tabs-border);
      padding-top: calc(.25rem + 3px);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom: none;
      margin-top: 0;
      z-index: 2;

      &:not(:first-of-type) {
        padding-left: calc(.6rem + 3px);
        margin-left: -3px;
      }

      &:not(:last-of-type) {
        padding-right: calc(.6rem + 3px);
        margin-right: -3px;
      }
    }

    &:focus-visible + label,
    &:focus-visible + label + .sd-tab-content {
      border-color: var(--sd-color-primary);
    }

    &:not(:checked) + label:hover {
      border-color: var(--sd-color-tabs-border);
    }
  }

  > label {
    font-weight: 500;
    border: 1px solid var(--sd-color-tabs-background);
    background-color: var(--sd-color-tabs-background);
    padding-inline: .6rem;
    padding-block:.25rem;
    margin-bottom: -1px;
    margin-top: 3px;
    z-index: 0;
  }

  .sd-tab-content {
    padding-top: 0;
    box-shadow: none;
    z-index: 1;
    border: 1px solid var(--sd-color-tabs-border);
    background-color: var(--sd-color-tabs-background-active);
    padding: 1rem;
    padding-top: 1.25rem;

    > :first-child > :first-child {
      margin-top: 0 !important;
    }
  }

  &:has(.sd-tab-content [class*="highlight-"]:only-child) {
    border-radius: var(--bz-border-radius);
    background-color: var(--sd-color-tabs-background);
    border: 1px solid var(--sd-color-tabs-border);
    margin: 0;
    padding: 0;

    > label {
      height: 100%;
      background: none;
      translate: -1px -1px;
      font-size: var(--bz-size-xs);

      &:first-of-type {
        border-top-left-radius: var(--bz-border-radius);
      }
    }

    > input:focus-visible + label + .sd-tab-content pre {
      border-color: var(--sd-color-primary);
    }

    > input:checked + label {
      margin-top: -2px;
      padding-top: calc(.25rem + 5px);
      background-color: var(--sd-color-tabs-background-active);
      padding-bottom: calc(.25rem + 2px);
    }

    > input:not(:checked) + :is(label, label:hover) {
      border-color: transparent;
    }

    > .sd-tab-content {
      padding: 0;
      border: none;
      background: none;

      pre {
        margin: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid var(--sd-color-tabs-border);
      }
    }
  }
}

details.sd-dropdown summary.sd-summary-title {
  padding: .35em .6em .35em 1em;

  &.sd-bg-primary {
    background-color: color-mix(in oklab, var(--sd-color-primary) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-primary) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-primary) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-primary) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-primary) 20%, black 2%);
  }
  &.sd-bg-secondary {
    background-color: color-mix(in oklab, var(--sd-color-secondary) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-secondary) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-secondary) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-secondary) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-secondary) 20%, black 2%);
  }
  &.sd-bg-success {
    background-color: color-mix(in oklab, var(--sd-color-success) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-success) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-success) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-success) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-success) 20%, black 2%);
  }
  &.sd-bg-info {
    background-color: color-mix(in oklab, var(--sd-color-info) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-info) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-info) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-info) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-info) 20%, black 2%);
  }
  &.sd-bg-warning {
    background-color: color-mix(in oklab, var(--sd-color-warning) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-warning) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-warning) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-warning) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-warning) 20%, black 2%);
  }
  &.sd-bg-danger {
    background-color: color-mix(in oklab, var(--sd-color-danger) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-danger) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-danger) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-danger) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-danger) 20%, black 2%);
  }
  &.sd-bg-muted {
    background-color: color-mix(in oklab, var(--sd-color-muted) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-muted) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-muted) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-muted) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-muted) 20%, black 2%);
  }
  &.sd-bg-light {
    background-color: color-mix(in oklab, var(--bz-bg-light) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-light) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-light) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-light) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-light) 20%, black 2%);
  }
  &.sd-bg-dark {
    background-color: color-mix(in oklab, var(--bz-bg-dark) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-dark) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-dark) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-dark) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-dark) 20%, black 2%);
  }
  &.sd-bg-black {
    background-color: color-mix(in oklab, var(--bz-color-black-1) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-black-1) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-black-1) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-black-1) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-black-1) 20%, black 2%);
  }
  &.sd-bg-white {
    background-color: color-mix(in oklab, var(--bz-color-white-5) 70%, transparent)!important;
    box-shadow:
      inset 0 2px 0 color-mix(in oklab, var(--sd-color-white-5) 20%, white 2%),
      inset 0 -1px 0 color-mix(in oklab, var(--sd-color-white-5) 20%, black 3%),
      inset 1px 0 0 color-mix(in oklab, var(--sd-color-white-5) 20%, white 1%),
      inset -2px 0 0 color-mix(in oklab, var(--sd-color-white-5) 20%, black 2%);
  }
}

.sd-card {
  background: linear-gradient(
    180deg,
    color-mix(in oklab, var(--sd-color-card-background) 100%, white 1%) 0%,
    var(--sd-color-card-background) 50%,
    color-mix(in oklab, var(--sd-color-card-background) 100%, black 1%) 100%
  );
  box-shadow:
    inset 0 2px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 4%),
    inset 0 -1px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 6%),
    inset 1px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 2%),
    inset -2px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 3%);
}

.sd-card.sd-shadow-sm {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    inset 0 2px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 4%),
    inset 0 -1px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 6%),
    inset 1px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 2%),
    inset -2px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 3%) !important;
}

.sd-card.sd-shadow-md {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    0 16px 16px var(--bz-color-shadow),
    inset 0 2px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 4%),
    inset 0 -1px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 6%),
    inset 1px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 2%),
    inset -2px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 3%) !important;
}

.sd-card.sd-shadow-lg {
  box-shadow:
    0 1px 1px var(--bz-color-shadow),
    0 2px 2px var(--bz-color-shadow),
    0 4px 4px var(--bz-color-shadow),
    0 8px 8px var(--bz-color-shadow),
    0 16px 16px var(--bz-color-shadow),
    0 32px 32px var(--bz-color-shadow),
    inset 0 2px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 4%),
    inset 0 -1px 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 6%),
    inset 1px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, white 2%),
    inset -2px 0 0 color-mix(in oklab, var(--sd-color-card-background) 100%, black 3%) !important;
}
