.querychat shiny-chat-message table td,
.querychat shiny-chat-message table th {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  padding: 3px;
}

.querychat shiny-chat-message table td {
  font-family: var(--bs-font-monospace);
}

/* querychat takes up the full sidebar, so move the collapse toggle out of the way */
.bslib-sidebar-layout:has(.querychat-sidebar):not(.sidebar-collapsed)>.collapse-toggle {
    right: 4px;
    top: 4px;
}
